@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@font-face {
  font-family: 'SF Pro Text';
  src: url("../fonts/sf-pro-text-regular-webfont.woff2") format("woff2"), url("../fonts/sf-pro-text-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Text';
  src: url("../fonts/sf-pro-text-semibold-webfont.woff2") format("woff2"), url("../fonts/sf-pro-text-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Light.otf");
  font-weight: 300;
  font-style: normal; }

* {
  outline: none !important; }

a {
  color: #0080CA;
  transition: 0.2s;
  text-decoration: none !important; }
  a:hover {
    color: #00A1FF; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "SF Pro Text", sans-serif;
  color: #222222;
  min-height: 100vh; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "MyriadPro", sans-serif;
  font-weight: 300;
  line-height: 1; }

h1, .h1 {
  color: #0080CA; }

.fz-30 {
  font-size: 20px;
  line-height: 1.3; }

.fz-20 {
  font-family: "Roboto", sans-serif; }

.fz-0 {
  font-size: 0; }

.text-inherit {
  color: inherit; }

.navbar-light {
  box-shadow: 0 1px 3px #D5D5D5; }
  .navbar-light .nav-item {
    margin-left: 4px; }
  .navbar-light > div.container > ul.navbar-nav .nav-item:not(:first-child) {
    display: none; }
  .navbar-light .button {
    margin: 7px .5rem; }
  .navbar-light .navbar-nav .nav-link {
    color: inherit !important;
    transition: 0.2s; }
    .navbar-light .navbar-nav .nav-link:hover {
      opacity: 0.65; }
  .navbar-light .navbar-collapse .nav-item {
    margin-left: 17px;
    margin-right: 17px; }

.button {
  display: inline-block;
  font-size: 12px;
  background: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #07c;
  border-radius: 4px;
  color: #fff !important;
  padding: 1px 8px 2px;
  text-align: center;
  cursor: pointer; }
  .button:hover {
    background: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0; }
  .button:active {
    background: linear-gradient(#3d94d9, #0067b9);
    border-color: #006dbc; }

.button-lg {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  padding: 7px 53px 9px; }

.section-1 {
  flex-grow: 1;
  min-height: calc(100vh - 53px); }
  .section-1 .button {
    margin-left: 22px; }

ul.list-blue {
  padding-left: 0;
  list-style: none; }
  ul.list-blue li {
    position: relative; }
    ul.list-blue li:before {
      content: "•";
      position: absolute;
      left: 0;
      color: #00A1FF; }
  ul.list-blue.fz-30 li {
    padding-left: 22px; }
  ul.list-blue.fz-20 li {
    padding-left: 12px; }

.owl-brands {
  padding: 4px 0;
  background: linear-gradient(#EDEDED, transparent 25%); }
  .owl-brands .owl-item img {
    width: auto; }

.owl-theme .owl-nav {
  margin-top: 0; }
  .owl-theme .owl-nav [class*="owl-"] {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 42px;
    height: 42px;
    margin-top: -21px;
    border-radius: 50%;
    top: 50%;
    transition: 0.2s;
    background-color: rgba(213, 213, 213, 0.25) !important;
    background-image: url(../img/arrow.png) !important;
    background-size: cover !important; }
    .owl-theme .owl-nav [class*="owl-"].owl-prev {
      left: 0; }
    .owl-theme .owl-nav [class*="owl-"].owl-next {
      right: 0;
      transform: rotate(180deg); }
    .owl-theme .owl-nav [class*="owl-"]:not(.disabled):hover {
      opacity: 0.65; }

.owl-theme .owl-dots {
  position: relative; }
  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid #878787;
    transition: 0.2s; }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #878787; }

.video-wrap {
  padding: 80px 0;
  background-color: #000; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden; }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.section-3 {
  padding-top: 90px;
  padding-bottom: 120px;
  background: radial-gradient(circle closest-corner at 50% 100%, transparent 50%, #CCD0D3); }
  .section-3 img {
    height: 320px;
    width: auto; }

.section-4 {
  padding-top: 40px;
  padding-bottom: 50px; }
  .section-4 div.row.mb-md-5 {
    margin-bottom: 1rem !important; }
  .section-4 h2.mb-3 {
    margin-bottom: 0; }
  .section-4 .col-xl-8 p {
    font-size: 18px;
    margin-bottom: 0; }

.owl-header {
  font-size: 12px;
  margin-bottom: 0 !important; }
  .owl-header .owl-dots .owl-dot {
    padding-right: 5px;
    padding-left: 5px;
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 8px; }
    .owl-header .owl-dots .owl-dot:before {
      display: block;
      padding: 8px;
      border: 1px solid #222222;
      transition: 0.2s;
      cursor: pointer; }
    .owl-header .owl-dots .owl-dot:hover:before, .owl-header .owl-dots .owl-dot.active:before {
      color: #fff;
      background-color: #222222;
      font-weight: 600; }
    .owl-header .owl-dots .owl-dot:nth-child(1):before {
      content: "Global Wallet"; }
    .owl-header .owl-dots .owl-dot:nth-child(2):before {
      content: "Global OrderBook"; }
    .owl-header .owl-dots .owl-dot:nth-child(3):before {
      content: "Global Portfolio"; }
    .owl-header .owl-dots .owl-dot:nth-child(4):before {
      content: "Global Order History"; }
    .owl-header .owl-dots .owl-dot:nth-child(5):before {
      content: "Global Liquidity"; }
    .owl-header .owl-dots .owl-dot:nth-child(6):before {
      content: "Basic Mode"; }
    .owl-header .owl-dots .owl-dot:nth-child(7):before {
      content: "Advanced Mode"; }
    .owl-header .owl-dots .owl-dot:nth-child(8):before {
      content: "App's"; }

.owl-body {
  position: relative;
  width: 83%;
  margin: 0 auto; }
  .owl-body .owl-4 {
    position: absolute;
    left: 0;
    right: 0;
    top: 2%;
    padding: 0 18%; }
  .owl-body > img {
    max-width: 83%; }

.section-5 {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #000; }
  .section-5 .owl-carousel.owl-loaded {
    margin-bottom: 1.5rem !important; }

.video-modal {
  cursor: pointer; }
  .video-modal .img-video {
    transition: 0.2s;
    padding: 1px 1.5rem;
    border: 1px solid #3D3D3D;
    position: relative; }
    .video-modal .img-video:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 42.06px;
      height: 29.76px;
      transform: translate(-50%, -50%);
      background-image: url(../img/play.svg);
      background-size: cover;
      transition: 0.2s; }
  .video-modal div {
    transition: 0.2s;
    color: rgba(255, 255, 255, 0.25); }
  .video-modal:hover {
    color: #fff; }
    .video-modal:hover .img-video {
      border-color: #fff; }
      .video-modal:hover .img-video:after {
        background-image: url(../img/play-2.svg); }
    .video-modal:hover div {
      color: #fff; }

.section-6 {
  padding-top: 110px;
  padding-bottom: 100px; }

.section-7 {
  padding-top: 160px;
  padding-bottom: 200px;
  background: url(../img/bg.jpg) center top;
  background-size: cover; }

.section-8 {
  padding-top: 80px;
  padding-bottom: 64px; }

.section-9 {
  padding-top: 80px;
  padding-bottom: 60px;
  background: url(../img/bg-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .section-9:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.79; }
  .section-9 .container {
    position: relative; }

.owl-2 {
  margin-top: -12.5%; }
  .owl-2 .owl-stage-outer {
    margin-bottom: -4%; }

.section-10 {
  padding-top: 105px;
  padding-bottom: 72px; }

.px {
  padding: 0 88px; }

.page-footer {
  padding: 28px 0;
  background-color: #ebebeb;
  color: #474747 !important; }

#aside-nav {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }
  #aside-nav li {
    padding: 7px; }
    #aside-nav li a {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background-color: #C7C7C7;
      transition: 0.2s; }
      #aside-nav li a:hover {
        background-color: #222222; }
      #aside-nav li a.mPS2id-highlight-first {
        background-color: #222222;
        height: 30px; }

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1030;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: .3s ease;
  visibility: hidden;
  opacity: 0; }
  #overlay.open {
    opacity: 1;
    visibility: visible; }

#youtubeModal {
  position: fixed;
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  z-index: 1040;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
  opacity: 0;
  text-align: center;
  color: white;
  visibility: hidden; }
  #youtubeModal .video-container {
    margin-bottom: 10px; }
  #youtubeModal.open {
    opacity: 1;
    visibility: visible; }

.outro {
  font-size: 10px; }

.copyright {
  font-size: 17px;
  font-weight: 700;
  margin: 0px; }

.reel {
  overflow: visible !important; }

.terminal-switch-wrap {
  top: 63px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex; }

.terminal-switch {
  display: flex;
  align-items: center;
  line-height: 1.18;
  margin: 0;
  font-size: 11px;
  font-weight: 700;
  padding: 5px;
  color: #222222; }
  .terminal-switch img {
    margin: 0 10px 0 0; }

.reel-indicator-bar {
  width: 99%;
  background: url("https://dlcdnimgs.asus.com/websites/global/products/kG8zmnBbP9T4sqBA/images/reelbar.png") center/100% no-repeat;
  height: 18px;
  bottom: 0px;
  margin: auto; }

.reel-indicator {
  background: url("https://dlcdnimgs.asus.com/websites/global/products/kG8zmnBbP9T4sqBA/images/bar_dot.png") center/100% no-repeat;
  width: 36px !important;
  height: 18px !important;
  background-color: transparent !important;
  top: calc(100%) !important; }

.new-terminal {
  padding: 30px 15px;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto; }
  .new-terminal__left {
    width: 50%;
    flex: 1 1 50%;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center; }
    .new-terminal__left img {
      width: 100%;
      height: auto; }
  .new-terminal__right {
    width: 50%;
    flex: 1 1 50%;
    display: flex;
    align-items: center; }
  @media only screen and (max-width: 680px) {
    .new-terminal {
      flex-direction: column;
      max-width: 360px; }
      .new-terminal__left {
        margin: 0;
        width: 100%; }
      .new-terminal__right {
        width: 100%; } }

.terminal-form {
  color: #000;
  width: 100%; }
  .terminal-form__title {
    font-size: 42px;
    color: #000;
    margin: 0 0 22px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.003em; }
  .terminal-form__separator {
    height: 1px;
    width: 100%;
    background: #ccc; }
  .terminal-form__qty-line {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 0 0; }
  .terminal-form__line {
    position: relative;
    margin: 20px 0 32px; }
  .terminal-form__input {
    height: 56px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
    padding: 0 70px 0 18px;
    color: #000; }
    .terminal-form__input::placeholder {
      color: #888888; }
  .terminal-form__apply {
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 50%;
    padding: 0 18px;
    height: 56px;
    color: #0070C9;
    background: transparent;
    border: none;
    transform: translateY(-50%);
    cursor: pointer; }
  .terminal-form__submit {
    margin: 32px 0 0;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
    height: 42px;
    font-size: 18px;
    border: 1px solid #2c8ed4;
    background: linear-gradient(to bottom, #42a1ec 0%, #0473cb 100%);
    cursor: pointer;
    width: 100%; }
  .terminal-form .button {
    margin: 32px 0 0;
    width: 100%;
    text-align: center; }
  @media only screen and (max-width: 680px) {
    .terminal-form {
      width: 100%; }
      .terminal-form__title {
        text-align: center;
        font-size: 36px;
        margin: 28px 0; } }

.checkout-form {
  color: #000;
  max-width: 1020px;
  padding: 30px 15px;
  margin: auto; }
  .checkout-form__title {
    font-size: 40px;
    line-height: 1.2;
    margin: 12px 0 26px; }
  .checkout-form__cols {
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px; }
  .checkout-form__col {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25px;
    flex: 1 1; }
    .checkout-form__col:first-child {
      margin: 0; }
  .checkout-form__col-title {
    font-size: 24px;
    line-height: 1.26;
    margin: 12px 0 8px;
    letter-spacing: initial;
    font-weight: 600; }
  .checkout-form__multi-line {
    margin: 15px 0 0;
    display: flex;
    justify-content: space-between; }
    .checkout-form__multi-line .checkout-form__line {
      flex: 1 1;
      margin: 0 0 0 15px; }
      .checkout-form__multi-line .checkout-form__line.city {
        width: calc(70% - 15px);
        flex: none; }
      .checkout-form__multi-line .checkout-form__line.zipcode {
        width: 30%;
        flex: none; }
      .checkout-form__multi-line .checkout-form__line:first-child {
        margin: 0; }
  .checkout-form__line {
    position: relative;
    margin: 15px 0 0;
    height: 56px; }
  .checkout-form__label {
    position: absolute;
    left: 18px;
    top: 11px;
    line-height: 1.2;
    font-size: 12px;
    color: #666666;
    z-index: 10; }
  .checkout-form__input {
    width: 100%;
    height: 56px;
    font-size: 17px;
    border: 1px solid #d5d5d5;
    padding: 0 18px;
    color: #000;
    border-radius: 4px; }
    .checkout-form__input::placeholder {
      color: #888888; }
    .checkout-form__input.--with-label {
      padding: 26px 18px 10px; }
  .checkout-form__tips {
    margin: 15px 0 0;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5; }
  .checkout-form__tip {
    font-size: 14px;
    color: #333;
    line-height: 1.48;
    margin: 5px 0px 0;
    padding: 10px 15px; }
    .checkout-form__tip:first-child {
      margin: 0; }
  .checkout-form__submit {
    margin: auto 0 0;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
    height: 56px;
    font-size: 17px;
    border: 1px solid #2c8ed4;
    background: linear-gradient(to bottom, #42a1ec 0%, #0473cb 100%);
    cursor: pointer;
    width: 100%; }
  .checkout-form .button {
    text-align: center;
    margin: auto 0 0;
    padding: 10px 53px 13px; }
  @media only screen and (max-width: 860px) {
    .checkout-form__multi-line {
      flex-direction: column; }
      .checkout-form__multi-line .checkout-form__line {
        margin: 15px 0 0;
        width: 100%; }
        .checkout-form__multi-line .checkout-form__line.zipcode, .checkout-form__multi-line .checkout-form__line.city {
          width: 100%;
          flex: none; } }
  @media only screen and (max-width: 560px) {
    .checkout-form {
      padding: 0; }
      .checkout-form__cols {
        flex-direction: column; }
      .checkout-form__col {
        margin: 28px 0 0; } }

.basic-select.single {
  width: 100%;
  display: block; }
  .basic-select.single .selectize-input {
    width: 100%;
    height: 56px;
    font-size: 17px;
    border-radius: 4px;
    border: 1px solid #d5d5d5;
    background: #fff;
    box-shadow: none;
    padding: 26px 27px 10px 18px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .basic-select.single .selectize-dropdown {
    z-index: 11;
    padding-left: 18px; }
  .basic-select.single.country .selectize-dropdown {
    padding-left: 16px; }
  .basic-select.single.city .selectize-dropdown {
    padding-left: 8px; }

.order-nav {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 50px auto 60px;
  list-style: none;
  padding: 0;
  color: #888; }
  .order-nav .item {
    display: flex;
    position: relative;
    padding: 5px 18px;
    margin: 0 15px;
    align-items: center; }
    .order-nav .item.done {
      color: #0171B8; }
      .order-nav .item.done:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 16px;
        height: 14px;
        transform: translateY(-50%);
        background: url(../img/check.svg) 0 0 no-repeat; }
    .order-nav .item.current {
      color: #2C2C2C; }
      .order-nav .item.current:before {
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 5px;
        height: 2px;
        background: #2C2C2C; }
  @media only screen and (max-width: 680px) {
    .order-nav {
      flex-wrap: wrap;
      margin: 25px auto; }
      .order-nav .item {
        padding: 5px 15px 5px 15px;
        margin: 0 0; } }

.inputGroup {
  background-color: #fff;
  display: flex;
  margin: 10px 15px;
  position: relative;
  width: 160px;
  height: 76px;
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
  align-items: center; }
  .inputGroup label {
    padding: 0 10px 0 50px;
    width: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    background: #efefef;
    transition: color 200ms ease-in;
    overflow: hidden;
    line-height: 1.2;
    margin: 0;
    height: 100%; }
    .inputGroup label:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: #0171B8;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1; }
    .inputGroup label:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #D1D7DC;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in; }
  .inputGroup input:checked ~ label {
    color: #fff; }
    .inputGroup input:checked ~ label:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1; }
    .inputGroup input:checked ~ label:after {
      background-color: #54E0C7;
      border-color: #54E0C7; }
  .inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden; }

.payment-method {
  font-family: 'SF Pro Text';
  display: flex;
  justify-content: center;
  margin: 32px 0 22px; }
  .payment-method .item {
    position: relative;
    width: 160px;
    height: 76px;
    background: #fff;
    border: 1px solid #D6D6D6;
    border-radius: 7px;
    display: flex;
    padding: 12px 5px 12px 10px;
    line-height: 1.2;
    cursor: pointer;
    letter-spacing: -0.03em;
    transition: all 0.1s;
    margin: 0 0 0 25px; }
    .payment-method .item:first-child {
      margin: 0; }
    .payment-method .item:hover {
      /*border-color: #056fc7;*/
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35); }
    .payment-method .item.selected {
      border: 3px solid #056fc7; }
      .payment-method .item.selected:after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 30px 30px;
        border-color: transparent transparent #056fc7 transparent; }
      .payment-method .item.selected:before {
        content: '';
        position: absolute;
        bottom: 2px;
        right: 1px;
        width: 16px;
        height: 14px;
        background: url(../img/check-white.svg) 0 0 no-repeat;
        z-index: 1; }
  .payment-method .left {
    margin: auto 12px auto 2px;
    flex: 0 0 auto; }
  .payment-method .right {
    margin: auto 0 auto; }
  .payment-method .title {
    font-size: 15px;
    margin: 0px; }
  .payment-method .abbr {
    font-size: 23px;
    margin: 0px; }

.payment-info {
  color: #4B4B4B;
  line-height: 1.2;
  flex: 1 1 auto; }
  .payment-info .line {
    font-size: 20px;
    margin: 2px 0;
    display: flex;
    justify-content: space-between; }
    .payment-info .line.bigger {
      font-size: 23px; }
  .payment-info .separator {
    background: #d5d5d5;
    height: 2px;
    margin: 13px 0;
    overflow: hidden; }
  .payment-info .button {
    margin: 30px 0 10px; }
  .payment-info .qr-code {
    margin: 0 0 0 40px; }

.order-summary {
  margin: 40px 0 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .order-summary .payment-info {
    flex: 1 1 35%; }
    .order-summary .payment-info:first-child {
      flex: 1 1 50%;
      margin: 0 5% 0 0; }

.pay-form {
  width: 360px;
  margin: 50px auto;
  background: #efefef;
  border-radius: 5px;
  padding: 15px; }
  .pay-form .multi-line {
    display: flex;
    width: 100%;
    margin: 15px 0 0; }
    .pay-form .multi-line .line {
      margin: 0 0 0 15px; }
      .pay-form .multi-line .line:first-child {
        margin: 0 0 0 0; }
    .pay-form .multi-line:first-child {
      margin: 0; }
  .pay-form .line {
    width: 100%;
    margin: 15px 0 0; }
    .pay-form .line:first-child {
      margin: 0; }
  .pay-form .input {
    height: 48px;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 15px; }
    .pay-form .input:focus {
      border-color: #0171B8; }
    .pay-form .input::placeholder {
      color: #888; }
  .pay-form label {
    padding: 0 15px; }
  .pay-form.hidden {
    display: none; }

.guarantee {
  margin: 50px auto 50px;
  line-height: 1.28; }
  .guarantee section {
    margin: 24px 0; }
  .guarantee h6 {
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0; }
  .guarantee p {
    font-size: 12px;
    margin: 0 0; }

@media (min-width: 768px) {
  h1, .h1 {
    font-size: 75px;
    letter-spacing: -1.9px; }
  h2, .h2 {
    font-size: 65px;
    letter-spacing: -1.9px; }
  h3, .h3 {
    font-size: 55px;
    letter-spacing: -1.9px; }
  h5, .h5 {
    font-size: 26px; }
  .fz-30 {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1.35; }
  .fz-20 {
    font-size: 20px;
    line-height: 1.3; }
  .fz-20-2 {
    font-size: 20px;
    letter-spacing: -1px; }
  .button-lg {
    font-size: 20px; }
  .page-footer {
    font-size: 20px;
    padding: 28px 0; } }

@media (min-width: 1200px) {
  .col-xl-20 {
    flex: 0 0 20%;
    max-width: 20%; } }

@media (min-width: 1350px) {
  .container {
    max-width: 1280px; }
  .section-1 .img-bunner {
    max-width: calc(100% + 60px); } }

@media (max-width: 1199px) {
  .px {
    padding: 0 50px; } }

@media (max-width: 767px) {
  .owl-header .owl-dots .owl-dot {
    flex: 0 0 50%;
    max-width: 50%; }
  .section-3, .section-5, .section-7, .section-8, .section-9 {
    padding-top: 4rem;
    padding-bottom: 3rem; }
  .section-4, .section-6, .section-10 {
    padding-top: 4rem;
    padding-bottom: 4rem; } }

@media (max-width: 575px) {
  .button-lg {
    width: 100%; }
  .owl-header .owl-dots .owl-dot {
    flex: 0 0 100%;
    max-width: 100%; }
  .video-wrap {
    padding: 15px 0; }
  .section-1 .button {
    margin-left: 0; } }

.cart h1 {
  font-size: 65px;
  color: black; }

.cart h3 {
  font-size: 35px; }

.cart .text-small {
  font-size: 10px;
  color: black; }

.cart .gray-row {
  font-family: 'SF Pro Text';
  font-size: 23px;
  font-weight: bold;
  color: #4B4B4B; }

.cart .normal-row {
  font-size: 20px;
  color: black; }

.cart .selectize-input {
  border: 0;
  box-shadow: none; }

.cart .selectize-control.single .selectize-input:after {
  border: 0;
  background: url("../img/svg/arrow-more.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  transform: rotate(90deg);
  right: 0px; }

.cart .selectize-input {
  padding-right: 15px;
  font-size: 20px; }
