@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:300");
* {
  outline: none !important; }

a {
  color: #0080CA;
  transition: 0.2s;
  text-decoration: none !important; }
  a:hover {
    color: #00A1FF; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #222222;
  min-height: 100vh; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: inherit;
  line-height: 1.1; }

h1, .h1, h2, .h2 {
  color: #0080CA; }

.fz-30 {
  font-size: 20px;
  line-height: 1.3; }

.fz-0 {
  font-size: 0; }

.font-weight-medium {
  font-weight: 500; }

.text-inherit {
  color: inherit; }

.text-blue {
  color: #0080CA; }

.row-1 {
  margin-left: -10px;
  margin-right: -10px; }
  .row-1 [class^="col"] {
    padding-left: 10px;
    padding-right: 10px; }

.navbar-light {
  border-bottom: 1px solid #D6D6D6;
  box-shadow: 0 0 17px #EDEDED; }
  .navbar-light .nav-item {
    margin-left: 4px; }
  .navbar-light > div.container > ul.navbar-nav .nav-item:not(:first-child) {
    display: none; }
  .navbar-light .button {
    margin: 10px 0; }
  .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 500;
    color: inherit !important;
    transition: 0.2s; }
    .navbar-light .navbar-nav .nav-link.mPS2id-highlight-first {
      color: #0080CA !important; }
    .navbar-light .navbar-nav .nav-link:hover {
      opacity: 0.65; }
  .navbar-light .navbar-collapse .nav-item {
    margin-left: 17px;
    margin-right: 17px; }

.navbar-brand img {
  width: 157px; }

.button {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  background: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #07c;
  border-radius: 4px;
  color: #fff !important;
  padding: 3px 28px 4px;
  text-align: center;
  cursor: pointer; }
  .button:hover {
    background: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0; }
  .button:active {
    background: linear-gradient(#3d94d9, #0067b9);
    border-color: #006dbc; }

.button-lg {
  font-size: 1rem;
  border-radius: 6px;
  padding: 7px 53px 9px; }

.section-1 {
  flex-grow: 1;
  min-height: calc(100vh - 53px); }

ul.list-blue {
  padding-left: 0;
  list-style: none; }
  ul.list-blue li {
    padding-left: 18px;
    position: relative; }
    ul.list-blue li:before {
      content: "•";
      position: absolute;
      left: 0;
      color: #00A1FF; }

.owl-brands {
  padding: 4px 0;
  background: linear-gradient(#EDEDED, transparent 17px); }
  .owl-brands .owl-item img {
    width: auto; }

.owl-theme .owl-nav {
  margin-top: 0; }
  .owl-theme .owl-nav [class*="owl-"] {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 42px;
    height: 42px;
    transform: translateY(-50%);
    border-radius: 50%;
    top: 50%;
    transition: 0.2s;
    background-color: rgba(213, 213, 213, 0.25) !important;
    background-image: url(../img/arrow.png) !important;
    background-size: cover !important; }
    .owl-theme .owl-nav [class*="owl-"].owl-prev {
      left: 0; }
    .owl-theme .owl-nav [class*="owl-"].owl-next {
      right: 0;
      transform: translateY(-50%) rotate(180deg); }
    .owl-theme .owl-nav [class*="owl-"]:not(.disabled):hover {
      opacity: 0.65; }
.owl-theme .owl-dots {
  position: relative; }
  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid #878787;
    transition: 0.2s; }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #878787; }

.video-wrap {
  padding: 80px 0;
  background-color: #000; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden; }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.li {
  line-height: 1.3;
  border: 1px solid;
  padding: 11px 34px;
  height: 100%; }

.section-3 {
  padding-top: 90px;
  padding-bottom: 120px;
  background: radial-gradient(circle closest-corner at 50% 100%, transparent 50%, #CCD0D3); }

.section-4 {
  padding-top: 40px;
  padding-bottom: 50px; }

.owl-header {
  margin-bottom: 0 !important; }
  .owl-header .owl-dots .owl-dot {
    padding-right: 10px;
    padding-left: 10px;
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 12px; }
    .owl-header .owl-dots .owl-dot:before {
      display: block;
      padding: 5px 1px;
      border: 1px solid #222222;
      transition: 0.2s;
      cursor: pointer;
      height: 100%; }
    .owl-header .owl-dots .owl-dot:hover:before, .owl-header .owl-dots .owl-dot.active:before {
      color: #fff;
      border-color: #0080CA;
      background-color: #0080CA;
      font-weight: 600; }
    .owl-header .owl-dots .owl-dot:nth-child(1):before {
      content: "Global Wallet"; }
    .owl-header .owl-dots .owl-dot:nth-child(2):before {
      content: "Global OrderBook"; }
    .owl-header .owl-dots .owl-dot:nth-child(3):before {
      content: "Global Portfolio"; }
    .owl-header .owl-dots .owl-dot:nth-child(4):before {
      content: "Global Order History"; }
    .owl-header .owl-dots .owl-dot:nth-child(5):before {
      content: "Global Liquidity"; }
    .owl-header .owl-dots .owl-dot:nth-child(6):before {
      content: "Basic Mode"; }
    .owl-header .owl-dots .owl-dot:nth-child(7):before {
      content: "Advanced Mode"; }
    .owl-header .owl-dots .owl-dot:nth-child(8):before {
      content: "App's"; }

.owl-body {
  max-width: 800px;
  margin: 0 auto;
  position: relative; }
  .owl-body .owl-4 {
    position: absolute;
    left: 0;
    right: 0;
    top: 2.8%;
    padding: 0 11.5%; }

.section-5 {
  padding-top: 80px;
  padding-bottom: 60px;
  color: #0080CA;
  background-color: #000; }

.video-modal {
  cursor: pointer; }
  .video-modal .img-video {
    transition: 0.2s;
    padding: 1px 1.5rem;
    border: 1px solid #3D3D3D;
    position: relative; }
    .video-modal .img-video:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 42.06px;
      height: 29.76px;
      transform: translate(-50%, -50%);
      background-image: url(../img/play.svg);
      background-size: cover;
      transition: 0.2s; }
  .video-modal div {
    transition: 0.2s;
    color: rgba(255, 255, 255, 0.25); }
  .video-modal:hover .img-video {
    border-color: #0080CA; }
    .video-modal:hover .img-video:after {
      background-image: url(../img/play-2.svg); }
  .video-modal:hover div {
    color: inherit; }

.section-6 {
  padding-top: 110px;
  padding-bottom: 100px; }

.section-7 {
  padding-top: 160px;
  padding-bottom: 200px;
  background: url(../img/bg.jpg) center top;
  background-size: cover; }

.section-8 {
  padding-top: 50px;
  padding-bottom: 50px; }

.card-border {
  border: 1px solid;
  padding: 1rem 1rem 9px;
  height: 100%; }

.section-9 {
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .section-9 .owl-img-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
    pointer-events: none;
    z-index: 9; }

.owl-2 .slide {
  padding-top: 280px;
  padding-bottom: 354px;
  background-size: cover; }
  .owl-2 .slide.slide-1 {
    background-image: url(../img/bg-1.jpeg); }
  .owl-2 .slide.slide-2 {
    background-image: url(../img/bg-2.jpg); }
  .owl-2 .slide.slide-3 {
    background-image: url(../img/bg-3.jpg); }
  .owl-2 .slide.slide-4 {
    background-image: url(../img/bg-4.jpeg); }
  .owl-2 .slide.slide-5 {
    background-image: url(../img/bg-5.jpeg); }
  .owl-2 .slide.slide-6 {
    background-image: url(../img/bg-6.jpeg); }
  .owl-2 .slide:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1; }
  .owl-2 .slide .container {
    position: relative;
    z-index: 2;
    min-height: 250px; }
.owl-2 .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0; }

.section-10 {
  padding-top: 105px;
  padding-bottom: 72px; }
  .section-10 .owl-carousel {
    height: 191px; }
    .section-10 .owl-carousel .owl-stage-outer {
      min-height: 191px; }
    .section-10 .owl-carousel a {
      font-size: 15px;
      color: #878787; }
      .section-10 .owl-carousel a img {
        border: 1px solid;
        padding: 10px; }
  .section-10 .owl-theme .owl-nav [class*="owl-"] {
    top: 40%; }

.px {
  padding: 0 88px; }

.page-footer {
  padding: 28px 0;
  background-color: #ebebeb;
  color: #474747 !important; }

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1030;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: .3s ease;
  visibility: hidden;
  opacity: 0; }
  #overlay.open {
    opacity: 1;
    visibility: visible; }

#youtubeModal {
  position: fixed;
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  z-index: 1040;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
  opacity: 0;
  text-align: center;
  color: white;
  visibility: hidden; }
  #youtubeModal .video-container {
    margin-bottom: 10px; }
  #youtubeModal.open {
    opacity: 1;
    visibility: visible; }

.outro {
  font-size: 10px; }

.copyright {
  font-size: 17px;
  font-weight: 700;
  margin: 0px; }

.reel {
  overflow: visible !important;
  height: auto !important; }

.terminal-switch-wrap {
  line-height: 1.18;
  font-size: 11px;
  font-weight: 600; }

.reel-indicator-bar {
  width: 99%;
  background: url("https://dlcdnimgs.asus.com/websites/global/products/kG8zmnBbP9T4sqBA/images/reelbar.png") center/100% no-repeat;
  height: 18px;
  bottom: 0px;
  margin: auto; }

.reel-indicator {
  background: url("https://dlcdnimgs.asus.com/websites/global/products/kG8zmnBbP9T4sqBA/images/bar_dot.png") center/100% no-repeat;
  width: 36px !important;
  height: 18px !important;
  background-color: transparent !important;
  top: calc(100%) !important; }

.max-flex {
  display: flex;
  flex: 1 1; }

.new-terminal {
  padding: 30px 0;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto; }
  .new-terminal__left {
    width: 54%;
    flex: 1 1 54%;
    margin: 0 60px 0 0;
    display: flex;
    align-items: center; }
  .new-terminal__right {
    width: 46%;
    flex: 1 1 46%;
    display: flex;
    align-items: center; }
    .new-terminal__right img {
      width: 100%;
      height: auto; }
  @media only screen and (max-width: 1200px) {
    .new-terminal {
      flex-direction: column;
      width: 100%; }
      .new-terminal__left {
        order: 2;
        margin: 0;
        width: 100%;
        max-width: 800px;
        margin: 0 auto 30px; }
      .new-terminal__right {
        order: 1;
        width: 100%;
        max-width: 500px;
        margin: 0 auto 30px; } }
  @media only screen and (max-width: 680px) {
    .new-terminal {
      max-width: 360px; } }

.terminal-form {
  color: #000;
  width: 100%; }
  .terminal-form__title {
    font-size: 50px;
    color: #0080CA;
    margin: 0 0 18px;
    line-height: 1.28;
    font-weight: 300;
    letter-spacing: -0.003em; }
  .terminal-form__separator {
    height: 1px;
    width: 100%;
    background: #ccc; }
  .terminal-form__qty-line {
    font-size: 30px;
    font-weight: 300;
    display: flex;
    line-height: 1.36;
    justify-content: space-between;
    padding: 0 0;
    letter-spacing: -0.016em; }
  .terminal-form__price {
    font-weight: 500;
    letter-spacing: -0.03em; }
    .terminal-form__price span {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 300; }
  .terminal-form__multi-line {
    display: flex;
    margin: 30px 0 0; }
    .terminal-form__multi-line .terminal-form__line {
      position: relative;
      display: flex;
      margin: 0 0 0 12px; }
      .terminal-form__multi-line .terminal-form__line:first-child {
        margin: 0; }
      .terminal-form__multi-line .terminal-form__line.submit {
        flex: 0 0 196px;
        width: 196px; }
  .terminal-form__line {
    position: relative;
    margin: 20px 0 32px;
    display: flex;
    flex: 1 1; }
  .terminal-form__input {
    height: 50px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
    padding: 0 70px 0 18px;
    color: #000; }
    .terminal-form__input::placeholder {
      color: #888888; }
  .terminal-form__apply {
    position: absolute;
    font-size: 18px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 15px;
    margin: 0;
    color: #0070C9;
    border: none;
    cursor: pointer;
    background: transparent; }
  .terminal-form__submit {
    margin: 32px 0 0;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
    height: 42px;
    font-size: 18px;
    border: 1px solid #2c8ed4;
    background: linear-gradient(to bottom, #42a1ec 0%, #0473cb 100%);
    cursor: pointer;
    width: 100%; }
  .terminal-form .button {
    height: 50px;
    margin: 0 0 0;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  @media only screen and (max-width: 768px) {
    .terminal-form {
      width: 100%; }
      .terminal-form__title {
        text-align: center;
        font-size: 36px;
        margin: 28px 0; }
      .terminal-form__qty-line {
        font-size: 24px; } }
  @media only screen and (max-width: 680px) {
    .terminal-form {
      width: 100%; }
      .terminal-form__title {
        text-align: center;
        font-size: 36px;
        margin: 28px 0; } }

.delivery-form {
  color: #000;
  max-width: 1020px;
  padding: 30px 15px;
  margin: auto; }
  .delivery-form__title {
    font-size: 50px;
    line-height: 1.36;
    margin: 12px 0 4px; }
  .delivery-form__cols {
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px; }
  .delivery-form__col {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25px;
    flex: 1 1; }
    .delivery-form__col:first-child {
      margin: 0; }
  .delivery-form__col-title {
    font-size: 30px;
    line-height: 1.26;
    margin: 12px 0 8px;
    letter-spacing: initial;
    font-weight: 300; }
  .delivery-form__multi-line {
    margin: 20px 0 0;
    display: flex;
    justify-content: space-between; }
    .delivery-form__multi-line .delivery-form__line {
      flex: 1 1;
      margin: 0 0 0 20px; }
      .delivery-form__multi-line .delivery-form__line.city {
        width: calc(70% - 20px);
        flex: none; }
      .delivery-form__multi-line .delivery-form__line.zipcode {
        width: 30%;
        flex: none; }
      .delivery-form__multi-line .delivery-form__line:first-child {
        margin: 0; }
  .delivery-form__line {
    position: relative;
    margin: 20px 0 0;
    height: 50px; }
  .delivery-form__label {
    position: absolute;
    left: 18px;
    top: 8px;
    line-height: 1.2;
    font-size: 12px;
    color: #D6D6D6;
    z-index: 10;
    font-weight: 600; }
  .delivery-form__input {
    width: 100%;
    height: 50px;
    font-size: 17px;
    border: 1px solid #d5d5d5;
    padding: 0 18px;
    color: #000;
    border-radius: 6px;
    font-weight: 700; }
    .delivery-form__input::placeholder {
      color: #D6D6D6; }
    .delivery-form__input.--with-label {
      padding: 26px 18px 10px; }
  .delivery-form__tips {
    margin: 20px 0 0;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5; }
  .delivery-form__tip {
    font-size: 15px;
    color: #333;
    line-height: 1.28;
    margin: 2px 0px 0;
    padding: 10px 0;
    font-weight: 700; }
    .delivery-form__tip:first-child {
      margin: 0; }
  .delivery-form__submit {
    margin: auto 0 0;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
    height: 56px;
    font-size: 17px;
    border: 1px solid #2c8ed4;
    background: linear-gradient(to bottom, #42a1ec 0%, #0473cb 100%);
    cursor: pointer;
    width: 100%; }
  .delivery-form .button {
    text-align: center;
    margin: 20px 0 0;
    padding: 8px 53px 10px; }
  @media only screen and (max-width: 860px) {
    .delivery-form__multi-line {
      flex-direction: column; }
      .delivery-form__multi-line .delivery-form__line {
        margin: 15px 0 0;
        width: 100%; }
        .delivery-form__multi-line .delivery-form__line.zipcode, .delivery-form__multi-line .delivery-form__line.city {
          width: 100%;
          flex: none; } }
  @media only screen and (max-width: 560px) {
    .delivery-form {
      padding: 0; }
      .delivery-form__cols {
        flex-direction: column; }
      .delivery-form__col {
        margin: 28px 0 0; } }

.basic-select.single {
  width: 100%;
  display: block; }
  .basic-select.single .selectize-input {
    width: 100%;
    height: 50px;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #d5d5d5;
    background: #fff;
    box-shadow: none;
    padding: 22px 27px 10px 18px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700; }
  .basic-select.single .selectize-dropdown {
    z-index: 11;
    padding-left: 18px; }
  .basic-select.single.country .selectize-dropdown {
    padding-left: 16px; }
  .basic-select.single.city .selectize-dropdown {
    padding-left: 8px; }

.order-nav {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 40px auto 20px;
  list-style: none;
  padding: 0;
  color: #888;
  font-weight: 900; }
  .order-nav .item {
    display: flex;
    position: relative;
    padding: 5px 5px;
    margin: 0 15px;
    align-items: center;
    font-weight: 400;
    color: #D6D6D6; }
    .order-nav .item.done {
      font-weight: 900;
      color: #0080CA; }
      .order-nav .item.done:after {
        content: '';
        position: absolute;
        left: -15px;
        top: 50%;
        width: 16px;
        height: 14px;
        transform: translateY(-50%);
        background: url(../img/check.svg) 0 0 no-repeat; }
    .order-nav .item.current {
      font-weight: 900;
      color: #0080CA; }
      .order-nav .item.current:before {
        content: '';
        position: absolute;
        left: 2px;
        right: 2px;
        bottom: 5px;
        height: 2px;
        background: #0080CA; }
  @media only screen and (max-width: 680px) {
    .order-nav {
      flex-wrap: wrap;
      margin: 25px auto; }
      .order-nav .item {
        padding: 5px 15px 5px 15px;
        margin: 0 0; } }

.inputGroup {
  background-color: #fff;
  display: flex;
  margin: 10px 15px;
  position: relative;
  width: 356px;
  height: 126px;
  background: #fff;
  overflow: hidden; }
  .inputGroup img {
    filter: grayscale(100%);
    opacity: 0.75;
    transition: all 0.2s; }
  .inputGroup label {
    padding: 10px;
    width: 100%;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    background: #efefef;
    transition: color 200ms ease-in;
    overflow: hidden;
    line-height: 1.2;
    margin: 0;
    height: 100%;
    border: 1px solid #D6D6D6;
    border-radius: 6px;
    background: #fff;
    transition: all 0.2s; }
    .inputGroup label:before {
      display: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: #0171B8;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1; }
    .inputGroup label:after {
      display: none;
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #D1D7DC;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in; }
  .inputGroup input:checked ~ label {
    border-color: #0080CA; }
    .inputGroup input:checked ~ label img {
      filter: grayscale(0);
      opacity: 1; }
    .inputGroup input:checked ~ label:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1; }
    .inputGroup input:checked ~ label:after {
      background-color: #54E0C7;
      border-color: #54E0C7; }
    .inputGroup input:checked ~ label .top {
      border-color: #0080CA; }
    .inputGroup input:checked ~ label .desc {
      color: #222; }
  .inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden; }
  .inputGroup .top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin: -10px 0 0 0;
    border-bottom: 1px solid #D6D6D6;
    transition: all 0.2s; }
  .inputGroup .desc {
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    height: 50px;
    display: flex;
    color: #D6D6D6;
    transition: all 0.2s; }

.new-cart {
  padding: 30px 0;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto; }
  .new-cart__left {
    width: 75%;
    flex: 1 1 75%;
    margin: 0 60px 0 0;
    display: flex;
    align-items: center; }
  .new-cart__right {
    width: 25%;
    flex: 1 1 25%;
    display: flex;
    align-items: center; }
    .new-cart__right img {
      width: 100%;
      height: auto; }
  @media only screen and (max-width: 1200px) {
    .new-cart {
      flex-direction: column;
      width: 100%; }
      .new-cart__left {
        order: 2;
        margin: 0;
        width: 100%;
        max-width: 800px;
        margin: 0 auto 30px; }
      .new-cart__right {
        order: 1;
        width: 100%;
        max-width: 500px;
        margin: 0 auto 30px; } }
  @media only screen and (max-width: 680px) {
    .new-cart {
      max-width: 360px; } }

.cart-form {
  color: #000;
  width: 100%; }
  .cart-form__title {
    font-size: 50px;
    color: #0080CA;
    margin: 0 0 18px;
    line-height: 1.28;
    font-weight: 300;
    letter-spacing: -0.003em; }
  .cart-form__separator {
    height: 1px;
    width: 100%;
    margin: 10px 0;
    background: #ccc; }
  .cart-form__item {
    font-size: 30px;
    font-weight: 300;
    display: flex;
    line-height: 1.36;
    justify-content: space-between;
    padding: 0 0;
    letter-spacing: -0.016em; }
    .cart-form__item.total {
      color: #0080CA;
      font-weight: 700; }
  .cart-form__desc {
    flex: 1 1 40%;
    padding: 0 20px 0 0; }
  .cart-form__qty {
    flex: 1 1 25%;
    text-align: right;
    font-weight: 500;
    padding: 0 20px 0 0; }
    .cart-form__qty .selectize-input {
      font-size: 30px;
      border: none;
      box-shadow: none;
      padding: 0 30px 0 0;
      line-height: 1.2; }
  .cart-form__price {
    flex: 1 1 35%;
    text-align: right;
    font-weight: 500;
    letter-spacing: -0.03em; }
    .cart-form__price span {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 300; }
  .cart-form__tip {
    color: #9C9C9C;
    font-size: 15px;
    margin: 0; }
  .cart-form__multi-line {
    display: flex;
    margin: 30px 0 0; }
    .cart-form__multi-line .cart-form__line {
      position: relative;
      display: flex;
      margin: 0 0 0 12px; }
      .cart-form__multi-line .cart-form__line:first-child {
        margin: 0; }
      .cart-form__multi-line .cart-form__line.submit {
        flex: 0 0 196px;
        width: 196px; }
  .cart-form__line {
    position: relative;
    margin: 20px 0 32px;
    display: flex;
    flex: 1 1; }
  .cart-form__input {
    height: 50px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
    padding: 0 70px 0 18px;
    color: #000; }
    .cart-form__input::placeholder {
      color: #888888; }
  .cart-form__apply {
    position: absolute;
    font-size: 18px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 15px;
    margin: 0;
    color: #0070C9;
    border: none;
    cursor: pointer;
    background: transparent; }
  .cart-form__submit {
    margin: 32px 0 0;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
    height: 42px;
    font-size: 18px;
    border: 1px solid #2c8ed4;
    background: linear-gradient(to bottom, #42a1ec 0%, #0473cb 100%);
    cursor: pointer;
    width: 100%; }
  .cart-form .button {
    height: 50px;
    margin: 10px 0 0 auto;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  @media only screen and (max-width: 768px) {
    .cart-form {
      width: 100%; }
      .cart-form__title {
        text-align: center;
        font-size: 36px;
        margin: 28px 0; }
      .cart-form__item {
        font-size: 24px;
        line-height: 1.2; }
      .cart-form__qty .selectize-input {
        font-size: 24px; } }
  @media only screen and (max-width: 680px) {
    .cart-form {
      width: 100%; }
      .cart-form__title {
        text-align: center;
        font-size: 36px;
        margin: 28px 0; }
      .cart-form__item {
        font-size: 20px;
        flex-direction: column;
        margin: 0 0 10px; }
      .cart-form__qty {
        width: auto;
        margin: 5px auto; }
      .cart-form__desc, .cart-form__price {
        width: 100%;
        text-align: center;
        margin: 5px 0 0;
        padding: 0; }
        .cart-form__desc .selectize-input, .cart-form__price .selectize-input {
          font-size: 20px; }
      .cart-form .button {
        margin: 20px auto 10px; } }

.payment-method {
  font-family: 'SF Pro Text';
  display: flex;
  justify-content: center;
  margin: 32px 0 20px; }
  .payment-method .item {
    position: relative;
    width: 160px;
    height: 76px;
    background: #fff;
    border: 1px solid #D6D6D6;
    border-radius: 7px;
    display: flex;
    padding: 12px 5px 12px 10px;
    line-height: 1.2;
    cursor: pointer;
    letter-spacing: -0.03em;
    transition: all 0.1s;
    margin: 0 0 0 25px; }
    .payment-method .item:first-child {
      margin: 0; }
    .payment-method .item:hover {
      /*border-color: #056fc7;*/
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35); }
    .payment-method .item.selected {
      border: 3px solid #056fc7; }
      .payment-method .item.selected:after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 30px 30px;
        border-color: transparent transparent #056fc7 transparent; }
      .payment-method .item.selected:before {
        content: '';
        position: absolute;
        bottom: 2px;
        right: 1px;
        width: 16px;
        height: 14px;
        background: url(../img/check-white.svg) 0 0 no-repeat;
        z-index: 1; }
  .payment-method .left {
    margin: auto 12px auto 2px;
    flex: 0 0 auto; }
  .payment-method .right {
    margin: auto 0 auto; }
  .payment-method .title {
    font-size: 15px;
    margin: 0px; }
  .payment-method .abbr {
    font-size: 23px;
    margin: 0px; }

.payment-info {
  color: #4B4B4B;
  line-height: 1.2;
  flex: 1 1 auto; }
  .payment-info .line {
    font-size: 20px;
    margin: 2px 0;
    display: flex;
    justify-content: space-between; }
    .payment-info .line.bigger {
      font-size: 23px; }
  .payment-info .separator {
    background: #d5d5d5;
    height: 2px;
    margin: 13px 0;
    overflow: hidden; }
  .payment-info .button {
    margin: 30px 0 10px; }
  .payment-info .qr-code {
    margin: 0 0 0 40px; }

.order-summary {
  margin: 40px 0 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .order-summary .payment-info {
    flex: 1 1 35%; }
    .order-summary .payment-info:first-child {
      flex: 1 1 50%;
      margin: 0 5% 0 0; }

.pay-form-wrap {
  display: flex;
  justify-content: center; }

.pay-form {
  width: 100%;
  max-width: 360px;
  margin: 50px auto;
  border-radius: 5px;
  margin: 10px 15px;
  opacity: 1;
  transition: all 0.2s; }
  .pay-form .multi-line {
    display: flex;
    width: 100%;
    margin: 20px 0 0; }
    .pay-form .multi-line .line {
      margin: 0 0 0 10px; }
      .pay-form .multi-line .line:first-child {
        margin: 0 0 0 0; }
    .pay-form .multi-line:first-child {
      margin: 0; }
  .pay-form .line {
    width: 100%;
    margin: 20px 0 0; }
    .pay-form .line:first-child {
      margin: 0; }
  .pay-form .input {
    height: 50px;
    width: 100%;
    background: #fff;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 700; }
    .pay-form .input:focus {
      border-color: #0171B8; }
    .pay-form .input::placeholder {
      color: #D6D6D6; }
  .pay-form label {
    padding: 0 15px; }
  .pay-form.hidden {
    visibility: hidden;
    opacity: 0; }

.guarantee {
  margin: 50px auto 50px;
  line-height: 1.28; }
  .guarantee section {
    margin: 24px 0; }
  .guarantee h6 {
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0; }
  .guarantee p {
    font-size: 12px;
    margin: 0 0; }

@media (min-width: 768px) {
  h1, .h1 {
    font-size: 75px;
    letter-spacing: -1.9px; }

  h2, .h2 {
    font-size: 65px;
    letter-spacing: -1.9px; }

  h3, .h3 {
    font-size: 50px;
    letter-spacing: -1.9px; }

  h5, .h5 {
    font-size: 26px; }

  .fz-30 {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1.35; }

  .fz-20 {
    font-size: 20px;
    line-height: 1.3; }

  .fz-20-2 {
    font-size: 20px;
    letter-spacing: -1px; }

  .button-lg {
    font-size: 20px; }

  .page-footer {
    font-size: 20px;
    padding: 28px 0; } }
@media (min-width: 1200px) {
  .col-xl-20 {
    flex: 0 0 20%;
    max-width: 20%; } }
@media (min-width: 1350px) {
  .container {
    max-width: 1310px; } }
@media (max-width: 1349px) {
  .li {
    padding: 10px 15px; } }
@media (max-width: 1199px) {
  .px {
    padding: 0 50px; }

  .owl-2 .slide {
    padding-bottom: 430px; } }
@media (max-width: 991px) {
  .owl-header .owl-dots .owl-dot {
    flex: 0 0 50%;
    max-width: 50%; }

  .owl-2 .slide {
    padding-bottom: 310px; } }
@media (max-width: 767px) {
  .section-3, .section-5, .section-7, .section-8 {
    padding-top: 4rem;
    padding-bottom: 3rem; }

  .section-4, .section-6, .section-10 {
    padding-top: 4rem;
    padding-bottom: 4rem; }

  .section-9 .owl-img-wrap {
    bottom: 75px; } }
@media (max-width: 575px) {
  .navbar-brand img {
    width: 100px; }

  .button-lg {
    width: 100%; }

  .owl-header .owl-dots .owl-dot {
    flex: 0 0 100%;
    max-width: 100%; }

  .video-wrap {
    padding: 15px 0; }

  .owl-theme .owl-nav [class*="owl-"] {
    width: 30px;
    height: 30px; }

  .owl-2 .slide {
    padding-bottom: 60%; }

  .px {
    padding: 0 40px; } }
.cart h1 {
  font-size: 65px;
  color: black; }
.cart h3 {
  font-size: 35px; }
.cart .text-small {
  font-size: 10px;
  color: black; }
.cart .gray-row {
  font-family: 'SF Pro Text';
  font-size: 23px;
  font-weight: bold;
  color: #4B4B4B; }
.cart .normal-row {
  font-size: 20px;
  color: black; }
.cart .selectize-input {
  border: 0;
  box-shadow: none; }
.cart .selectize-control.single .selectize-input:after {
  border: 0;
  background: url("../img/svg/arrow-more.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  transform: rotate(90deg);
  right: 0px; }
.cart .selectize-input {
  padding-right: 15px;
  font-size: 20px; }

/*# sourceMappingURL=style.css.map */
