@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@font-face{
	font-family: 'SF Pro Text';
	src: url('../fonts/sf-pro-text-regular-webfont.woff2') format('woff2'), url('../fonts/sf-pro-text-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'SF Pro Text';
	src: url('../fonts/sf-pro-text-semibold-webfont.woff2') format('woff2'), url('../fonts/sf-pro-text-semibold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face{
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Light.otf');
	font-weight: 300;
	font-style: normal;
}