@media (min-width: 768px) {

	h1, .h1 {
	  font-size: 75px;
	  letter-spacing: -1.9px;
	}
	h2, .h2 {
	  font-size: 65px;
	  letter-spacing: -1.9px;
	}
	h3, .h3 {
	  font-size: 55px;
	  letter-spacing: -1.9px;
	}
	h5, .h5 {
	  font-size: 26px;
	}

	.fz-30 {
	  font-size: 30px;
	  letter-spacing: -1px;
	  line-height: 1.35;
	}
	.fz-20 {
	  font-size: 20px;
	  line-height: 1.3;
	}
	.fz-20-2 {
	  font-size: 20px;
	  letter-spacing: -1px;
	}

	.button-lg {
	  font-size: 20px;
	}

	.page-footer {
		font-size: 20px;
	  padding: 42px 0;
	}

}

@media (min-width: 1200px) {

	.col-xl-20 {
		flex: 0 0 20%;
		max-width: 20%;
	}

}

@media (min-width: 1350px) {

	.container {
		max-width: 1280px;
	}

	.section-1 {
	  .img-bunner {
	    max-width: calc(100% + 60px);
	  }
	 }

}

@media (max-width: 1199px) {

	.px {
    padding: 0 50px;
	}

}

@media (max-width: 767px) {

	.owl-header {
	  .owl-dots .owl-dot {
	    flex: 0 0 50%;
	    max-width: 50%;
	  }
	}

	.section-3, .section-5, .section-7, .section-8, .section-9 {
		padding-top: 4rem;
		padding-bottom: 3rem;
	}

	.section-4, .section-6, .section-10 {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

}

@media (max-width: 575px) {

	.button-lg {
		width: 100%;
	}

	.owl-header {
	  .owl-dots .owl-dot {
	    flex: 0 0 100%;
	    max-width: 100%;
	  }
	}

	.video-wrap {
		padding: 15px 0;
	}

	.section-1 {
	  .button {
	    margin-left: 0;
	  }
	}

}