@media (min-width: 576px) {

	.px {
  	padding-left: 50px !important;
  	padding-right: 50px !important;
	}

}

@media (min-width: 768px) {

	.page-footer {
		font-size: 20px;
		padding: 28px 0;
	}

}

@media (min-width: 1200px) {

	h1, .h1 {
	  font-size: 75px;
	  letter-spacing: -1.9px;
	}
	h2, .h2 {
	  font-size: 65px;
	  letter-spacing: -1.9px;
	}
	h3, .h3 {
	  font-size: 50px;
	  letter-spacing: -1.9px;
	}
	h4, .h4 {
	  font-size: 30px;
	}
	h5, .h5 {
	  font-size: 26px;
	}

	.fz-30 {
	  font-size: 30px;
	  letter-spacing: -1px;
	  line-height: 1.35;
	}
	.fz-24 {
	  font-size: 24px;
	  line-height: 1.3;
	}
	.fz-20 {
	  font-size: 20px;
	  line-height: 1.3;
	}

	.button-lg {
	  font-size: 20px;
	}

	.px {
	  padding-left: 88px !important;
	  padding-right: 88px !important;
	}

}

@media (min-width: 1350px) {

	.container {
		max-width: 1310px;
	}

}





@media (max-width: 1349px) {

	.li {
	  padding: 10px 15px;
	}

}

@media (max-width: 1199px) {

	

}

@media (max-width: 991px) {

	.owl-header {
	  .owl-dots .owl-dot {
	    flex: 0 0 50%;
	    max-width: 50%;
	  }
	}

}

@media (max-width: 767px) {

	.section-3, .section-5, .section-7, .section-8 {
		padding-top: 4rem;
		padding-bottom: 3rem;
	}

	.section-4, .section-6, .section-10 {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

}

@media (max-width: 575px) {
	
	.navbar-brand img {
	  width: 100px;
	}

	.button-lg {
		width: 100%;
	}

	.owl-header {
	  .owl-dots .owl-dot {
	    flex: 0 0 100%;
	    max-width: 100%;
	  }
	}

	.video-wrap {
		padding: 15px 0;
	}

	.owl-theme {
	  .owl-nav {
	    [class*="owl-"] {
	      width: 30px;
	      height: 30px;
     	}
    }
 	}

 	.owl-2 {
	  .slide {
	  	padding-top: 50px;
    	padding-bottom: 50px;
	    .container {
	      min-height: 340px;
	    }
	  }
	  .owl-dots {
	    bottom: 30px;
	  }
	}

	.px {
    	padding-left: 40px;
    	padding-right: 40px;
	}

}