
.new-terminal{
	padding: 30px 15px;
	margin: auto 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;

	&__left{
		width: 50%;
		flex: 1 1 50%;
		margin: 0 20px 0 0;
		display: flex;
		align-items: center;

		img{
			width: 100%;
			height: auto;
		}
	}

	&__right{
		width: 50%;
		flex: 1 1 50%;
		display: flex;
		align-items: center;
	}


	@media only screen and (max-width : 680px) {
		flex-direction: column;
		max-width: 360px;

		&__left{
			margin: 0;
			width: 100%;
		}

		&__right{
			width: 100%;
		}
	}
}


.terminal-form{
	color: #000;
	width: 100%;

	&__title{
		font-size: 42px;
		color: #000;
		margin: 0 0 22px;
		line-height: 1.2;
		font-weight: 600;
		letter-spacing: -0.003em;
	}

	&__separator{
		height: 1px;
		width: 100%;
		background: #ccc;
	}

	&__qty-line{
		font-size: 22px;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		padding: 0 0;
	}

	&__line{
		position: relative;
		margin: 20px 0 32px;
	}
	
	&__input{
		height: 56px;
		border: 1px solid #ccc;
		width: 100%;
		border-radius: 4px;
		padding: 0 70px 0 18px;
		color: #000;

		&::placeholder{
			color: #888888;
		}
	}

	&__apply{
		font-size: 18px;
		position: absolute;
		right: 0;
		top: 50%;
		padding: 0 18px;
		height: 56px;
		color: #0070C9;
		background: transparent;
		border: none;
		transform: translateY(-50%);
		cursor: pointer;
	}

	&__submit{
		margin: 32px 0 0;
		border-radius: 4px;
		padding: 0 10px;
		color: #fff;
		height: 42px;
		font-size: 18px;
		border: 1px solid #2c8ed4;
		background: linear-gradient(to bottom, #42a1ec 0%,#0473cb 100%);
		cursor: pointer;
		width: 100%;
	}

	.button{
		margin: 32px 0 0;
		width: 100%;
		text-align: center;
	}

	@media only screen and (max-width : 680px) {
		width: 100%;

		&__title{
			text-align: center;
			font-size: 36px;
			margin: 28px 0;
		}
	}
}


.checkout-form{
	color: #000;
	max-width: 1020px;
	padding: 30px 15px;
	margin: auto;

	&__title{
		font-size: 40px;
		line-height: 1.2;
		margin: 12px 0 26px;
	}

	&__cols{
		display: flex;
		justify-content: space-between;
		padding: 0 0 30px;
	}

	&__col{
		display: flex;
		flex-direction: column;
		margin: 0 0 0 25px;
		flex: 1 1;

		&:first-child{
			margin: 0;
		}
	}

	&__col-title{
		font-size: 24px;
		line-height: 1.26;
		margin: 12px 0 8px;
		letter-spacing: initial;
		font-weight: 600;
	}

	&__multi-line{
		margin: 15px 0 0;
		display: flex;
		justify-content: space-between;

		.checkout-form__line{
			flex: 1 1;
			margin: 0 0 0 15px;
			
			&.city {
				width: calc(70% - 15px);
				flex: none;
			}

			&.zipcode {
				width: 30%;
				flex: none;
			}

			&:first-child{
				margin: 0;
			}
		}
	}

	&__line{
		position: relative;
		margin: 15px 0 0;
		height: 56px;
	}

	&__label{
		position: absolute;
		left: 18px;
		top: 11px;
		line-height: 1.2;
		font-size: 12px;
		color: #666666;
		z-index: 10;
	}

	&__input{
		width: 100%;
		height: 56px;
		font-size: 17px;
		border: 1px solid #d5d5d5;
		padding: 0 18px;
		color: #000;
		border-radius: 4px;

		&::placeholder{
			color: #888888;
		}

		&.--with-label{
			padding: 26px 18px 10px;
		}
	}

	&__tips{
		margin: 15px 0 0;
		border-top: 1px solid #d5d5d5;
		border-bottom: 1px solid #d5d5d5;
	}

	&__tip{
		font-size: 14px;
		color: #333;
		line-height: 1.48;
		margin: 5px 0px 0;
		padding: 10px 15px;

		&:first-child{
			margin: 0;
		}
	}

	&__submit{
		margin: auto 0 0;
		border-radius: 4px;
		padding: 0 10px;
		color: #fff;
		height: 56px;
		font-size: 17px;
		border: 1px solid #2c8ed4;
		background: linear-gradient(to bottom, #42a1ec 0%,#0473cb 100%);
		cursor: pointer;
		width: 100%;
	}

	.button{
		text-align: center;
		margin: auto 0 0;
		padding: 10px 53px 13px;
	}

	@media only screen and (max-width : 860px) {
		

		&__multi-line{
			flex-direction: column;

			.checkout-form__line{
				margin: 15px 0 0;
				width: 100%;

				&.zipcode,
				&.city {
					width: 100%;
					flex: none;
				}
			}
		}
	}

	@media only screen and (max-width : 560px) {
		padding: 0;

		&__cols{
			flex-direction: column;
		}

		&__col{
			margin: 28px 0 0;
		}
	}
}


.basic-select.single{
	width: 100%;
	display: block;

	.selectize-input{
		width: 100%;
		height: 56px;
		font-size: 17px;
		border-radius: 4px;
		border: 1px solid #d5d5d5;
		background: #fff;
		box-shadow: none;
		padding: 26px 27px 10px 18px;
		white-space: nowrap;
		overflow: hidden;
		word-wrap: break-word;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.selectize-dropdown{
		z-index: 11;
		padding-left: 18px;
	}

	&.country {
		.selectize-dropdown{
			padding-left: 16px;
		}
	}

	&.city {
		.selectize-dropdown{
			padding-left: 8px;
		}
	}
}

.order-nav{
	font-size: 14px;
	display: flex;
	justify-content: center;
	margin: 50px auto 60px;
	list-style: none;
	padding: 0;
	color: #888;

	.item{
		display: flex;
		position: relative;
		padding: 5px 18px;
		margin: 0 15px;
		align-items: center;


		&.done{
			color: #0171B8;

			&:after{
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				width: 16px;
				height: 14px;
				transform: translateY(-50%);
				background: url(../img/check.svg) 0 0 no-repeat;
			}
		}

		&.current{
			color: #2C2C2C;

			&:before{
				content: '';
				position: absolute;
				left: 10px;
				right: 10px;
				bottom: 5px;
				height: 2px;
				background: #2C2C2C;
			}
		}
	}


	@media only screen and (max-width : 680px) {
		flex-wrap: wrap;
		margin: 25px auto;

		.item{
			padding: 5px 15px 5px 15px;
			margin: 0 0;
		}
	}
}

.inputGroup {
	background-color: #fff;
	display: flex;
	margin: 10px 15px;
	position: relative;
	width: 160px;
	height: 76px;
	background: #fff;
	border-radius: 7px;
	overflow: hidden;
	align-items: center;

	label {
		padding: 0 10px 0 50px;
		width: 100%;
		display: flex;
		text-align: left;
		flex-direction: column;
		justify-content: center;
		color: #3C454C;
		cursor: pointer;
		position: relative;
		z-index: 2;
		background: #efefef;
		transition: color 200ms ease-in;
		overflow: hidden;
		line-height: 1.2;
		margin: 0;
		height: 100%;

		&:before {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			content: '';
			background-color: #0171B8;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) scale3d(1, 1, 1);
			transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
			opacity: 0;
			z-index: -1;
		}

		&:after {
			width: 32px;
			height: 32px;
			content: '';
			border: 2px solid #D1D7DC;
			background-color: #fff;
			background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
			background-repeat: no-repeat;
			background-position: 2px 3px;
			border-radius: 50%;
			z-index: 2;
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			transition: all 200ms ease-in;
		}
	}

	input:checked ~ label {
		color: #fff;

		&:before {
			transform: translate(-50%, -50%) scale3d(56, 56, 1);
			opacity: 1;
		}

		&:after {
			background-color: #54E0C7;
			border-color: #54E0C7;
		}
	}

	input {
		width: 32px;
		height: 32px;
		order: 1;
		z-index: 2;
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		visibility: hidden;
	}
}


.payment-method{
	font-family: 'SF Pro Text';
	display: flex;
	justify-content: center;
	margin: 32px 0 22px;

	.item{
		position: relative;
		width: 160px;
		height: 76px;
		background: #fff;
		border: 1px solid #D6D6D6;
		border-radius: 7px;
		display: flex;
		padding: 12px 5px 12px 10px;
		line-height: 1.2;
		cursor: pointer;
		letter-spacing: -0.03em;
		transition: all 0.1s;
		margin: 0 0 0 25px;

		&:first-child{
			margin: 0;
		}

		&:hover{
			/*border-color: #056fc7;*/
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
		}

		&.selected{
			border: 3px solid #056fc7;

			&:after{
				position: absolute;
				bottom: 0;
				right: 0;
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 30px 30px;
				border-color: transparent transparent #056fc7 transparent;
			}

			&:before{
				content: '';
				position: absolute;
				bottom: 2px;
				right: 1px;
				width: 16px;
				height: 14px;
				background: url(../img/check-white.svg) 0 0 no-repeat;
				z-index: 1;
			}
		}
	}

	.left{
		margin: auto 12px auto 2px;
		flex: 0 0 auto;
	}

	.right{
		margin: auto 0 auto;
	}

	.coin-img{

	}

	.title{
		font-size: 15px;
		margin: 0px;
	}

	.abbr{
		font-size: 23px;
		margin: 0px;
	}
}

.payment-info{
	color: #4B4B4B;
	line-height: 1.2;
	flex: 1 1 auto;

	.line{
		font-size: 20px;
		margin: 2px 0;
		display: flex;
		justify-content: space-between;

		&.bigger{
			font-size: 23px;
		}
	}

	.separator{
		background: #d5d5d5;
		height: 2px;
		margin: 13px 0;
		overflow: hidden;
	}

	.button{
		margin: 30px 0 10px;
	}

	.qr-code{
		margin: 0 0 0 40px;
	}
}

.order-summary{
	margin: 40px 0 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.payment-info{
		flex: 1 1 35%;

		&:first-child{
			flex: 1 1 50%;
			margin: 0 5% 0 0;
		}
	}
}

.pay-form{
	width: 360px;
	margin: 50px auto;
	background: #efefef;
	border-radius: 5px;
	padding: 15px;

	.multi-line{
		display: flex;
		width: 100%;
		margin: 15px 0 0;

		.line{
			margin: 0 0 0 15px;

			&:first-child{
				margin: 0 0 0 0;
			}
		}

		&:first-child{
			margin: 0;
		}
	}

	.line{
		width: 100%;
		margin: 15px 0 0;

		&:first-child{
			margin: 0;
		}
	}

	.input{
		height: 48px;
		width: 100%;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding: 0 15px;

		&:focus{
			border-color: #0171B8;
		}

		&::placeholder{
			color: #888;
		}
	}

	label{
		padding: 0 15px;
	}
	&.hidden{
		display: none;
	}
}

.guarantee{
	margin: 50px auto 50px;
	line-height: 1.28;

	section{
		margin: 24px 0;
	}

	h6{
		font-size: 16px;
		font-weight: 700;
		margin: 12px 0;
	}

	p{
		font-size: 12px;
		margin: 0 0;
	}
}