@import "fonts";

* {
  outline: none !important;
}

a {
  color: #0080CA;
  transition: 0.2s;
  text-decoration: none !important;
  &:hover {
    color: #00A1FF;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #222222;
  min-height: 100vh;
}

b {
  font-weight: 700;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 300;
  line-height: 1.1;
}
h1, .h1, h2, .h2 {
  color: #0080CA;
}

.fz-30 {
  font-size: 20px;
  line-height: 1.3;
}
.fz-10 {
  font-size: 10px;
  line-height: 1;
}
.fz-0 {
  font-size: 0;
}

.font-weight-medium {
  font-weight: 500;
}

.text-inherit {
  color: inherit;
}

.text-blue {
  color: #0080CA;
}

.row-1 {
  margin-left: -10px;
  margin-right: -10px;
  [class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// .main-page .navbar-light {
//   .container{
//     justify-content: flex-start;
//     align-items: flex-end;
//   }
// }

.navbar-light {
  border-bottom: 1px solid #D6D6D6;
  box-shadow: 0 0 17px #EDEDED;
  min-height: 64px;
  .nav-item {
    margin-left: 4px;
  }
  .button {
    margin: 10px 0;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 500;
    color: inherit !important;
    transition: 0.2s;
    &.mPS2id-highlight-first { 
      color: #0080CA !important;
    }
    &:hover {
      opacity: 0.65;
    }
  }
  .navbar-collapse .nav-item {
    margin-left: 17px;
    margin-right: 17px;
  }
  .navbar-right .nav-link {
    color: #0080CA !important;
  }
}
.navbar-brand img {
  width: 157px;
}
.promo {
  line-height: 1.16;
  text-transform: uppercase;
  padding: 0 0 1px;
}

.button {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  background: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #07c;
  border-radius: 4px;
  color: #fff !important;
  padding: 3px 28px 4px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0;
  }
  &:active {
    background: linear-gradient(#3d94d9, #0067b9);
    border-color: #006dbc;
  }
}
.button-lg {
  font-size: 1rem;
  border-radius: 6px;
  padding: 8px 20px 10px;
  min-width: 196px;
}

.reel{
  height: auto !important;
}

.section-1 {
  flex-grow: 1;
  min-height: calc(100vh - 64px);
}

.terminal-switch-wrap {
  line-height: 1.18;
  font-size: 11px;
  font-weight: 600;
}

ul.list-blue {
  padding-left: 0;
  list-style: none;
  li {
    padding-left: 18px;
    position: relative;
    &:before {
      content: "•";
      position: absolute;
      left: 0;
      color: #00A1FF;
    }
  }
}

.owl-brands {
  padding: 4px 0;
  background: linear-gradient(#EDEDED, transparent 17px);
  .owl-item img {
    width: auto;
  }
}

.owl-theme {
  .owl-nav {
    margin-top: 0;
    [class*="owl-"] {
      position: absolute;
      padding: 0;
      margin: 0;
      width: 42px;
      height: 42px;
      transform: translateY(-50%);
      border-radius: 50%;
      top: 50%;
      transition: 0.2s;
      background-color: rgba(213, 213, 213, 0.25) !important;
      background-image: url(../img/arrow.png) !important;
      background-size: cover !important;
      &.owl-prev {
        left: 0;
      }
      &.owl-next {
        right: 0;
        transform: translateY(-50%) rotate(180deg);
      }
      &:not(.disabled):hover {
        opacity: 0.65;
      }
    }
  }
  .owl-dots {
    position: relative;
    .owl-dot {
      span {
        width: 8px;
        height: 8px;
        margin: 5px;
        background-color: transparent;
        border: 1px solid #878787;
        transition: 0.2s;
      }
      &.active span, &:hover span {
        background-color: #878787;
      }
    }
  }
}

.video-wrap {
  padding: 80px 0;
  background-color: #000;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.li {
  line-height: 1.3;
  border: 1px solid;
  padding: 11px 34px;
  height: 100%;
}

.section-3 {
  padding-top: 30px;
  padding-bottom: 10px;
  background: #CCD0D3;
}

.section-4 {  
  padding-top: 40px;
  padding-bottom: 50px;
}

.owl-header {
  margin-bottom: 0 !important;
  .owl-dots .owl-dot {
    padding-right: 10px;
    padding-left: 10px;
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 12px;
    background: 0;
    border: 0;
    &:before {
      display: block;
      padding: 5px 1px;
      border: 1px solid #222222;
      transition: 0.2s;
      cursor: pointer;
      height: 100%;
    }
    &:hover, &.active {
      &:before {
        color: #fff;
        border-color: #0080CA;
        background-color: #0080CA;
        font-weight: 600;
      }
    }
    &:nth-child(1):before {
      content: "Global Wallet";
    }
    &:nth-child(2):before {
      content: "Global OrderBook";
    }
    &:nth-child(3):before {
      content: "Global Portfolio";
    }
    &:nth-child(4):before {
      content: "Global Order History";
    }
    &:nth-child(5):before {
      content: "Global Liquidity";
    }
    &:nth-child(6):before {
      content: "Basic Mode";
    }
    &:nth-child(7):before {
      content: "Advanced Mode";
    }
    &:nth-child(8):before {
      content: "App's";
    }
  }
}

.owl-body {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  .owl-4 {
    position: absolute;
    left: 0;
    right: 0;
    top: 2.8%;
    padding: 0 11.5%;
  }
}

.section-5 {
  padding-top: 80px;
  padding-bottom: 60px;
  color: #0080CA;
  background-color: #000;
}

.video-modal {
  cursor: pointer;
  .img-video {
    transition: 0.2s;
    padding: 1px 1.5rem;
    border: 1px solid #3D3D3D;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 42.06px;
      height: 29.76px;
      transform: translate(-50%, -50%);
      background-image: url(../img/play.svg);
      background-size: cover;
      transition: 0.2s;
    }

    &:before{
    	content: '';
    	position: absolute;
    	left: 0;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	background: #000;
    }
  }

  .title{
  	position: absolute;
  	bottom: 65%;
  	left: 10px;
  	right: 10px;
  	text-align: center;
  	line-height: 1.28;
  }
  div {
    transition: 0.2s;
    color: rgba(255, 255, 255, 0.25);
  }
  &:hover {
    .img-video {
      border-color: #0080CA;
      &:after {
        background-image: url(../img/play-2.svg);
      }
    }
    div {
      color: inherit;
    }
  }
}

.section-6 {
  padding-top: 110px;
  padding-bottom: 100px;
}

.reel {
  width: 100% !important;
  overflow: visible !important;
}
.reel-indicator-bar {
  width: 99%;
  background: url('https://dlcdnimgs.asus.com/websites/global/products/kG8zmnBbP9T4sqBA/images/reelbar.png') center/100% no-repeat;
  height: 18px;
  margin: 0 0 0 1%;
}
.reel-indicator {
  background: url('https://dlcdnimgs.asus.com/websites/global/products/kG8zmnBbP9T4sqBA/images/bar_dot.png') center/100% no-repeat;
  width: 36px !important;
  height: 18px !important;
  background-color: transparent !important;
  top: 100% !important;
}

.section-7 {
  padding-top: 160px;
  padding-bottom: 200px;
  background: url(../img/bg.jpg) center top;
  background-size: cover;
}

.section-8 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-border {
  border: 1px solid;
  padding: 1rem 1rem 9px;
}

.owl-2 {
  .slide {
    padding-top: 200px;
    padding-bottom: 130px;
    background-size: cover;
    background-position: center;
    &.slide-1 {
      background-image: url(../img/bg-1.jpeg);
    }
    &.slide-2 { 
      background-image: url(../img/bg-2.jpg);
    }
    &.slide-3 {
      background-image: url(../img/bg-3.jpg);
    }
    &.slide-4 {
      background-image: url(../img/bg-4.jpeg);
    }
    &.slide-5 {
      background-image: url(../img/bg-5.jpeg);
    }
    &.slide-6 {
      background-image: url(../img/bg-6.jpeg);
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, .7);
      z-index: 1;
    }
    .container {
      position: relative;
      z-index: 2;
      min-height: 300px;
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
  .owl-nav {
    [class*="owl-"] {
      &.owl-prev {
        left: 10px;
      }
      &.owl-next {
        right: 10px;
      }
    }
  }
}

.owl-5 .owl-dots{
  position: relative;
  top: 10px;
  opacity: 0;
  transition: .3s ease;
}
  
.section-10 {
  padding-top: 105px;
  padding-bottom: 72px;
}

.owl-3 {
  a {
    font-size: 15px;
    img {
      border: 1px solid #222222;
      padding: 10px;
    }
    p {
      color: #878787;
    }
  }
  .owl-nav {
    [class*="owl-"] {
      top: 40%;
    }
  }
}

.page-footer {
  padding: 28px 0;
  background-color: #ebebeb;
  color: #474747 !important;
}
.outro {
  font-size: 12px;
  /*max-width: 720px;*/
  margin: 0 auto;
}
.copyright {
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
}

#youtubeModal {
  .modal-content {
    background-color: #000;
    border: 0;
    border-radius: 0;
  }
}

.article {
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		font-weight: 500;
		letter-spacing: initial;
	}
	h2, .h2 {
		font-size: 28px;
	}
	h3, .h3 {
		font-size: 22px;
	}
	hr {
		margin: 1rem 0;
	}
}

@import "media";
@import "payment";
@import "cart";