@import "fonts";

* {
  outline: none !important;
}

input,
textarea{
	-webkit-appearance: none;
}

a {
  color: #0080CA;
  transition: 0.2s;
  text-decoration: none !important;
  &:hover {
	color: #00A1FF;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #222222;
  min-height: 100vh;
}

b {
  font-weight: 700;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 300;
  line-height: 1.1;
}
h1, .h1, h2, .h2 {
  color: #0080CA;
}

.fz-11 {
	font-size: 11px;
	line-height: 1.3;
}
.fz-10 {
  font-size: 10px;
  line-height: 1;
}
.fz-0 {
  font-size: 0;
}

.font-weight-medium {
  font-weight: 500;
}

.text-inherit {
  color: inherit;
}

.text-blue {
  color: #0080CA;
}

:root{
	--margin-1:	15px;
	--margin-2:	20px;
	--margin-3:	30px;
	--margin-4:	45px;
}

.cmt-1{	margin-top:		var(--margin-1); }
.cmr-1{	margin-right:	var(--margin-1); }
.cmb-1{	margin-bottom:	var(--margin-1); }
.cml-1{	margin-left:	var(--margin-1); }
.cmx-1{	margin-left:	var(--margin-1); margin-right:	var(--margin-1); }
.cmy-1{	margin-top:		var(--margin-1); margin-bottom:	var(--margin-1); }

.cmt-2{	margin-top:		var(--margin-2); }
.cmr-2{	margin-right:	var(--margin-2); }
.cmb-2{	margin-bottom:	var(--margin-2); }
.cml-2{	margin-left:	var(--margin-2); }
.cmx-2{	margin-left:	var(--margin-2); margin-right:	var(--margin-2); }
.cmy-2{	margin-top:		var(--margin-2); margin-bottom:	var(--margin-2); }

.cmt-3{	margin-top:		var(--margin-3); }
.cmr-3{	margin-right:	var(--margin-3); }
.cmb-3{	margin-bottom:	var(--margin-3); }
.cml-3{	margin-left:	var(--margin-3); }
.cmx-3{	margin-left:	var(--margin-3); margin-right:	var(--margin-3); }
.cmy-3{	margin-top:		var(--margin-3); margin-bottom:	var(--margin-3); }

.cmt-4{	margin-top:		var(--margin-4); }
.cmr-4{	margin-right:	var(--margin-4); }
.cmb-4{	margin-bottom:	var(--margin-4); }
.cml-4{	margin-left:	var(--margin-4); }
.cmx-4{	margin-left:	var(--margin-4); margin-right:	var(--margin-4); }
.cmy-4{	margin-top:		var(--margin-4); margin-bottom:	var(--margin-4); }

.row-1 {
  margin-left: -10px;
  margin-right: -10px;
  [class^="col"] {
	padding-left: 10px;
	padding-right: 10px;
  }
}

// .main-page .navbar-light {
//   .container{
//     justify-content: flex-start;
//     align-items: flex-end;
//   }
// }

.main-page .navbar {
	& > .container {
		justify-content: space-between;
	}
	
	.promo {
		margin-right: auto;
	}
}
.navbar{

	&__back {
		display: flex;
		align-items: center;
		cursor: pointer;
		transform: opacity .25s;
	}

	&__back-icon {
		display: block;
		width: 30px;
		fill: #0080ca;
	}

	&__back-text {
		text-transform: uppercase;
		color: #0080ca;
		font-weight: 900;
		margin-left: 10px;
		line-height: 24px;
		margin-top: 0px;
		font-size: 20px;
	}
	& > .container {
		// justify-content: flex-start;
		justify-content: space-between;
	}
}

.navbar-light {
  border-bottom: 1px solid #D6D6D6;
  box-shadow: 0 0 17px #EDEDED;
  min-height: 60px;
  padding: 10px 0;

  .nav-item {
	margin-left: 4px;
  }
  .button {
	margin: 10px 0;
  }
  .navbar-nav .nav-link {
	font-size: 14px;
	font-weight: 500;
	color: inherit !important;
	transition: 0.2s;
	&.mPS2id-highlight-first { 
	  color: #0080CA !important;
	}
	&:hover {
	  opacity: 0.65;
	}
  }
  .navbar-collapse .nav-item {
	margin-left: 17px;
	margin-right: 17px;
	pointer-events: none;
  }
  .navbar-right .nav-link {
	color: #0080CA !important;
  }



	@media (max-width: 1350px) {
	  .navbar-collapse .nav-item {
		margin-left: 12px;
		margin-right: 12px;
		pointer-events: none;
	  }
	}
}

.navbar-brand{
	padding: 4px 0;
	margin-right: 25px;
}

.navbar-brand img {
  width: 154px;
}
.promo {
	padding-top: 1px;
  line-height: 1.2;
  text-transform: uppercase;
	// margin-right: 20px;
	margin-right: auto;
}

.button {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  background: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #07c;
  border-radius: 4px;
  color: #fff !important;
  padding: 3px 28px 4px;
  text-align: center;
  cursor: pointer;
  &:hover {
  	background: linear-gradient(#51a9ee, #147bcd);
  	border-color: #1482d0;
  }
  &:active {
  	background: linear-gradient(#3d94d9, #0067b9);
  	border-color: #006dbc;
  }
}
.button-gray {
  color: inherit !important;
  background: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  &:hover {
    background: linear-gradient(#e7eaf0, #d9dce1);
    border-color: #a2a6ac #979aa1 #82858a;
  }
  &:active {
    background: linear-gradient(#dcdfe3, #dcdfe3);
    border-color: #adb1b8 #a2a6ac #a2a6ac;
  }
}
.button-lg,
.button-md {
  font-size: 1rem;
  border-radius: 6px;
  padding: 8px 20px 10px;
  min-width: 196px;
}
.button-md{
  min-width: 130px;
}
.button-auto {
  min-width: auto;
}

.reel{
	height: auto !important;
}

.section-1 {
	flex-grow: 1;

	.container{
		margin: 98px auto 64px;
	}

	.img{
		max-width: 580px;
		width: 100%;
	}

	@media (max-width: 992px) {

		.container{
			margin: 0 auto;
		}
	}

}
.terminal-switch-wrap {
  line-height: 1.2;
  font-size: 16px;
  font-weight: 400;
  color: #0080CA;
	text-align: right;
	font-family: Arial,sans-serif;

	a {
		color: #000;
		&:hover {
			color: #00A1FF;
		}
	}

	@media (max-width: 768px) {
  		font-size: 12px;
  		font-weight: 400;
	}

	// @media (max-width: 420px) {
  // 		font-size: 0;
	// }
}

ul.list-blue {
  padding-left: 0;
  list-style: none;
  li {
	padding-left: 20px;
	position: relative;
	&:before {
	  content: "•";
	  position: absolute;
	  left: 0;
	  color: #00A1FF;
	}
  }
}
.owl-brands {
  padding: 4px 0;
  background: linear-gradient(#EDEDED, transparent 17px);
  .owl-item img {
		width: auto;
		//height: 62px;
  }
}

.owl-theme {
  .owl-nav {
	margin-top: 0;
	[class*="owl-"] {
	  position: absolute;
	  padding: 0;
	  margin: 0;
	  width: 42px;
	  height: 42px;
	  transform: translateY(-50%);
	  border-radius: 50%;
	  top: 50%;
	  transition: 0.2s;
	  opacity: 0.66;
	  background-color: rgba(213, 213, 213, 0.25) !important;
	  background-image: url(../img/arrow.png) !important;
	  background-size: cover !important;
	  &.owl-prev {
		left: 0;
	  }
	  &.owl-next {
		right: 0;
		transform: translateY(-50%) rotate(180deg);
	  }
	  &:not(.disabled):hover {
		opacity: 1;
	  }
	}
	.disabled{
		display: none;
	}
  }
  .owl-dots {
		position: relative;
		.owl-dot {
			span {
				width: 8px;
				height: 8px;
				margin: 5px;
				background-color: transparent;
				border: 1px solid #878787;
				transition: 0.2s;
			}
			&.active span, &:hover span {
				background-color: #878787;
			}
		}
  }
}

.fancybox-inner .fancybox-navigation
{
	.fancybox-button {
		position: absolute;
		padding: 0;
		margin: 0;
		width: 42px;
		height: 42px;
		transform: translateY(-50%);
		border-radius: 50%;
		top: 50%;
		transition: 0.2s;
		background-color: rgba(213, 213, 213, 0.25) !important;
		background-image: url(../img/arrow.png) !important;
		background-size: cover !important;
		opacity: 0.66;
		&:hover{
			opacity: 1;
		}
	}
	.fancybox-button--arrow_left {
		left: 0;
	}

	.fancybox-button--arrow_right {
		right: 0;
		transform: translateY(-50%) rotate(180deg);
	}
}
#ulAccordion span {
	display: inline-block;
	padding-left: 10px;
	text-indent: -10px;
}
.video-wrap {
  padding: 80px 0;
  background-color: #000;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
	#videoOverlay{
		position: absolute;
		width: 100%;
		height: 102%;
		background: url('../img/video.png');
		background-size: cover;
		cursor: pointer;
		//transition: 1s;
		&.hidden{
			visibility: hidden;
			opacity: 0;
		}
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 65.06px;
			height: 46.76px;
			transform: translate(-50%, -50%);
			background-image: url(../img/play.svg);
			background-size: cover;
		}
	}
}

.li {
  line-height: 1.3;
  border: 1px solid;
  padding: 11px 34px;
  height: 100%;
}

.section-2 {
	display: flex;
	flex-direction: column;
	.video-wrap {
		padding: 121px 0;
	}
	.kartynka {
		margin: 0 auto;
		flex-basis: auto;
	}
	ul.list-blue li:before {
    content: "•";
    position: absolute;
    left: 0;
    color: #00A1FF;
    font-size: 41px;
		line-height: 22px;
		top:2px;
	}
}
.section-3 {
  padding-top: 43px;
  padding-bottom: 108px;
  background: #CCD0D3;

  .container{
	max-width: 1140px;
  }

  img{
  	height: auto;
  	margin: 0 0 18px;
  }
}

.section-4 {  
  padding-top: 40px;
	padding-bottom: 96px;
	p{
		visibility: hidden;
		opacity: 0;
		transition: opacity .6s ease;
		height: 0;
		margin-bottom: 0;
		//display: none;
		&.current{
			visibility: visible;
			opacity: 1;
			height: auto;
			margin-bottom: 1rem;
			//display: block;
		}
	}
	// button.owl-dot:nth-child(9){
	// 	display: none;
	// }
}

.owl-header {
  margin-bottom: 0 !important;
  .owl-dots{
	margin-bottom: 4px;
  }

  .owl-dots .owl-dot {
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
	flex: 0 0 25%;
	max-width: calc(25% - 20px);
	margin-bottom: 12px;
	background: 0;
	border: 0;
	cursor: pointer;

	&:before {
	  display: block;
	  padding: 5px 1px 4px;
	  border: 1px solid #222222;
	  transition: 0.2s;
		height: 100%;
	}

	&:hover {
	  &:before {
		color: #fff;
		border-color: #222222;
		background-color: #222222;
		font-weight: 600;
	  }
	}
	&.active {
	  &:before {
		color: #fff;
		border-color: #0080CA;
		background-color: #0080CA;
		font-weight: 600;
	  }
	}
	&:nth-child(1):before {
		content: "Dedicated Terminal";
	}
	&:nth-child(2):before {
	  content: "Global Order Book";
	}
	&:nth-child(3):before {
	  content: "Smart Order Router";
	}
	&:nth-child(4):before {
	  content: "Global Liquidity";
	}
	&:nth-child(5):before {
		content: "Global Wallet";
	}
	&:nth-child(6):before {
	  content: "Hardware Key";
	}
	&:nth-child(7):before {
	  content: "ComplianceGuard";
	}
	&:nth-child(8):before {
	  content: "Curated App Store";
	}
	// &:nth-child(9):before {
	// 	content: "First Screen";
	// }
  }
}

.owl-body {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  .owl-4 {
	position: absolute;
	left: 0;
	right: 0;
	top: 2.8%;
	padding: 0 11.5%;
  }
}

.section-5 {
  padding-top: 90px;
  padding-bottom: 60px;
  color: #0080CA;
	background-color: #000;
	.fz-20{
		color: rgba(255, 255, 255, 0.25);
		&.hover{
	 	 	color: #fff;
		}
	}
}

.video-modal {
  cursor: pointer;
  .img-video {
	transition: 0.2s;
	padding: 1.7rem 2.5rem;
	border: 1px solid #3D3D3D;
	position: relative;
	&:after {
	  content: "";
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: 42.06px;
	  height: 29.76px;
	  transform: translate(-50%, -50%);
	  background-image: url(../img/play.svg);
	  background-size: cover;
	  transition: 0.2s;
	}

	// &:before{
	// 	content: '';
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	background: #000;
	// }
  }

  .title{
	position: absolute;
	bottom: 5px;
	left: 10px;
	right: 10px;
	text-align: left;
	line-height: 1.28;
  }
  div {
	transition: 0.2s;
	color: rgba(255, 255, 255, 0.25);
  }
  &:hover {
	.img-video {
	  border-color: #0080CA;
	  &:after {
		background-image: url(../img/play-2.svg);
	  }
	}
	div {
	  color: inherit;
	}
  }
}

.section-6 {
  padding-top: 150px;
	padding-bottom: 150px;

	.container{
		max-width:770px;
	}

	h2, h3 {
		display: inline;
	}
	h2{
		font-size: 42px;
	}
	h3 {
		margin: 10px;
	}
	.mobile {
		display: none;
	}

	// .rotator-wrapper.size-992 {
  //   height: auto;
	// 	width: 345px !important;
	// 	.reel-indicator-bar {
	// 		width: 280px !important;
	// 		margin-left: 30px;
	// 	}
	// 	.reel-indicator {
	// 		margin-left: 12px;
	// 	}
	// }
	// .rotator-wrapper {
	// 	width: 470px !important;
	// 	height: 0px;
	// 	margin: 0 auto;
  //   overflow: hidden;
	// }
	.row > div:first-child {
    justify-content: flex-end;
		display: flex;
		
		.informs-wrapper {
			max-width: 100%;
			.d-none {
				display: block !important;
				h2 {
					line-height: 1;
				}
				h3 {
					/*margin-bottom: 45px;*/
					line-height: 1;
					/*white-space: nowrap;*/
				}
			}
			.list-blue {
				margin-bottom: 45px;
				li{
					border-bottom: 1px solid gainsboro;
					/*padding-bottom: 5px;
					margin-bottom: 5px;*/
					padding-left: 0;
					padding-top: 20px;
					padding-bottom: 20px;
					&:before{
						display: none;	
					}
					&:first-child{
						border-top: 1px solid gainsboro;
					}
					a {
						position: relative;
						display: block;
						color: inherit;
						padding: 6px 25px 6px 0;
						//font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue,Helvetica, Arial, sans-serif;
						font-weight: 600;
						//font-size: 14px;
						margin-bottom: 10px;

						&.collapsed {
							margin-bottom: 0;
							&:after {
								transform: translateY(-50%) rotate(0deg);
							}
						}
						&:after {
							content: '';
							width: 12px;
							height: 12px;
							position: absolute;
							top: 50%;
							right: 5px;
							transform: translateY(-50%) rotate(45deg);
							background: url(../img/plus.svg);
							background-size: contain;
							background-repeat: no-repeat;
							display: block;
							float: right;
							transition: .3s ease;
						}
						&:hover {
							color: #0080CA;
						}
					}
					div{
						//font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue,Helvetica, Arial, sans-serif;
						font-weight: 400;
						//font-size: 14px;
					}
				}
			}
		}
	}
	.padding-bottom{
		padding-bottom: 86px;
	}
}

#baby{
	position: relative;
	right: 0;
	width: 100%;
	top: -30px;
	transform: scale(1);
}

.reel {
  width: 100% !important;
  overflow: visible !important;
}
.reel-indicator-bar {
  width: 98%;
  background: url('https://dlcdnimgs.asus.com/websites/global/products/kG8zmnBbP9T4sqBA/images/reelbar.png') center/100% no-repeat;
  height: 18px;
	margin: 0px 1%;
}
.reel-indicator {
  background: url('https://dlcdnimgs.asus.com/websites/global/products/kG8zmnBbP9T4sqBA/images/bar_dot.png') center/100% no-repeat;
  width: 36px !important;
  height: 18px !important;
  background-color: transparent !important;
	top: 100% !important;
	margin-left: -5px;
}
.reel-preloader{
	display: none !important;
}

.section-7 {
	max-height: 700px;
  padding-top: 200px;
  padding-bottom: 228px;
  background: url(../img/updated_bg.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	
	.row > div:last-child {
		h2 {
			margin-bottom: 45px;
		}
		p {
			text-align: left;
			//text-align: justify;
			//word-spacing: -1px;
			//letter-spacing: 1px;
			margin: 0;
			margin-bottom: 45px;
			padding-right: 5%;
		}
	}
}

.section-8 {
	padding: 100px 0 130px;
	max-height: 1365px;
	h2 {
		margin-bottom: 45px;
	}
	.desc {
		margin-bottom: 45px;
	}
	.options {
		margin-top: 45px;
	}
	.video-wrapper {
		flex: 0 0 86.3333%;
		max-width: 86.3333%;


		@media (max-width: 768px) {
			margin-left: 0 !important;
			padding-left: 0 !important;
		}
	}
	.col-xl-9 {
		& > .row > div {
			margin-top: -1px;
		}
		// .card-border {
		// 	p:last-child {
		// 		letter-spacing: -1px;
		// 		word-spacing: -1px;
		// 	}
		// }
		// & > .row > div:last-child {
		// 	.card-border {
		// 		p:last-child {
		// 			letter-spacing: 0px;
		// 			word-spacing: -2px;
		// 		}
		// 	}
		// }
	}
}

.section-11 {
	padding: 64px 0;
	background-color: black;
	color: white;
	.row {
		height: 100%;
		.coin-img {
			max-width: 700px;
			height: auto;

			img.coin-Y {
				display: block;
				width: 100%;
				height: auto;
				position: relative;
				right: -40px;
			}
		}
		p {
			/*width: 550px;*/
			//font-size: 18px;
			margin: 0;
			/*white-space: nowrap;*/
		}
		button {
			position: absolute;
			top: 38%;
			background-color: rgba(213, 213, 213, 0.25);
			color: #AAA;
			font-size: 44px;
			line-height: 60px;
			width: 60px;
			height: 60px;
			text-align: center;
			border-radius: 50%;
			cursor: pointer;
			z-index: 3;
			opacity: .66;
			transition: .2s;
			&:hover {
				opacity: 1;
			}

			&.left-arrow {
				left: -3%;
				background-image: url(../img/arrow.png);
				background-size: cover !important;
			}
			&.right-arrow {
				right: -3%;
				background-image: url(../img/arrow.png);
				transform: translateY(-50%) rotate(180deg);
				background-size: cover !important;
			}
			@media (max-width: 1200px) {
				width: 50px !important;
				height: 50px !important;
				font-size: 38px !important;
				line-height: 50px !important;
			}

			@media (max-width: 768px) {
				width: 36px !important;
				height: 36px !important;
				font-size: 30px !important;
				line-height: 36px !important;
			}

			@media (max-width: 575px) {
				width: 30px !important;
				height: 30px !important;
				font-size: 24px !important;
				line-height: 30px !important;
			}
		}
	}
	.video-wrapper {
		position: relative;
		width: 1280px;
		.back-image {
			z-index: 1;
			width: 100%;
			margin-left: 3px;
			@media (max-width: 768px) {
				margin-left: 1px !important;
			}
		}
		#video-player {
			position: absolute;
			z-index: 2;
			top: 0;
			width: 100%;
			height: 100%;
			padding-bottom: 12.7%;
			display: flex;
			iframe {
				width: 100%;
				height: 72% !important;
			}
		}
		.initial-image {
			position: absolute;
			z-index: 3;
			top: 0;
			width: 100%;
			height: 100%;
			padding-bottom: 12.7%;
			display: flex;
			&__core {
				width: 80%;
				height: 76% !important;
				background-color: #000;
				cursor: pointer;
				&:after {
					content: "";
					position: absolute;
					top: 42%;
					left: 50%;
					width: 65.06px;
					height: 46.76px;
					transform: translate(-50%, -50%);
					background-image: url(../img/play.svg);
					background-size: cover;
				}
				
				&:hover {
					&:after {
						background-image: url(../img/play-2.svg);
					}
				}
			}
			&.hidden {
				display: none;
			}
		}	
	}
	@media (max-width: 992px) {
		.row{
			p {
				width: auto;
				white-space: normal;
				font-size: 14px;
			}
		}
	}
}

.error{
	color: red !important;
}

.section-12 {
	@media (max-width: 768px) {
		.row {
			padding: 50px 0px 60px !important;
		}
		.terminal {
			padding: 40px !important;
		}
		a.apply {
			top: 11px !important;
		}
	}
	.row {
    padding: 100px 0px 150px;
	}
	.form {
		display: flex;
		form {
			& > div {
				margin: 30px 0 0 0 !important;
			}
			h3 {
				margin: 0 !important;
			}
			input {
				padding-right: 10px;
			}
			a.apply {
				display: inline;
				position: absolute;
				right: 20px;
				top: 14px;
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
	.terminal {
		position: relative;
		top: 5px;
	}
}

.card-border {
  border: 1px solid;
	padding: 1rem 1rem 0;
}

.promo-code {
	color: #CCC;
	font-weight: 200;
	.col > a {
		color: #CCC !important;
	}
}
.owl-2 {
  .slide {
    /*padding-top: 165px;
    padding-bottom: 165px;*/
    background-size: cover;
    background-position: center;
    &.slide-1 {
      background-image: url(../img/bg-1.jpg);
	  .container { max-width: 910px; }
    }
    &.slide-2 { 
      background-image: url(../img/bg-2.jpg);
	  .container { max-width: 980px; }
    }
    &.slide-3 {
      background-image: url(../img/bg-3.jpg);
	  .container { max-width: 1150px; }
    }
    &.slide-4 {
      background-image: url(../img/bg-4.jpg);
	  .container { max-width: 980px; }
    }
    &.slide-5 {
      background-image: url(../img/bg-5.jpg);
	  .container { max-width: 980px; }
    }
    &.slide-6 {
      background-image: url(../img/bg-6.jpg);
	  .container { max-width: 980px; }
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, .7);
      z-index: 1;
    }
    .container {
      position: relative;
      z-index: 2;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p{
      	padding: 0 10px;
      }
    }
  }
  .owl-dots {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
  }
  .owl-nav {
	[class*="owl-"] {
	  &.owl-prev {
		left: 10px;
	  }
	  &.owl-next {
		right: 10px;
	  }
	}
  }
}

.owl-5 .owl-dots{
  position: relative;
  top: 10px;
  opacity: 0;
  transition: .3s ease;
}

.section-9 {
	.owl-carousel.owl-drag .owl-item {
		height: 800px;
		.slide {
			height: 100%;
		}

		@media (max-width: 768px) {
			height: 400px;
		}
	}
}

.section-10 {
  padding-top: 100px;
	padding-bottom: 140px;
	div.desc, h2 {
		margin-bottom: 45px;
	}
}

.owl-3 {
  a {
	font-size: 15px;
	img {
	  border: 1px solid #222222;
	  padding: 10px;
	}
	p {
		color: #878787;
		padding-left: 10px;
	}
  }
  .owl-nav {
	[class*="owl-"] {
	  top: calc(50% - 35px);
	}
  }
}

.page-footer {
  padding: 16px 0;
  background-color: #ebebeb;
  color: #474747 !important;
}
.outro {
  margin: 0 auto;
}
.copyright {
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
}

#youtubeModal {
  .modal-content {
		background-color: #000;
		border: 0;
		border-radius: 0;
		padding: 20px !important;

  }
}
.timeline-TweetList {
	li, p {
    padding-right: 0px !important;
	}
}
.timeline-TweetList-tweet {
 & > div {
		padding: 10px;
 }
}
.MediaCard-media {
	text-align: -webkit-center;
}
.timeline-Tweet-metadata {
	margin-left: 40px;
}
.timeline-Tweet-media {
	margin-right: 20px;
	margin-left: 40px;
}
.MediaCard-widthConstrain {
	img {
		width: 1024px !important;
	}
}
#two-screen-request {
	.modal-dialog {
		.modal-content {
			padding: 40px 30px 30px !important;
		}
	}
}
.modal-dialog {
	.modal-content {
			// DON'T CHANGE THIS LINE
			padding: 40px 0px 30px 30px !important;
		/* The Close Button */
	}
	.close {
		color: #aaaaaa;
		position: absolute;
		right: 24px;
		top: 6px;
		font-size: 28px;
		font-weight: bold;
		z-index: 1 !important;
		pointer-events: all;
	}

	.close:hover,
	.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
		z-index: 1 !important;
		pointer-events: all;
	}

	.content-wrapper {
		//max-height: 70vh;
		max-height: calc(100vh - 194px);
		overflow-y: auto;
		//overflow-x: hidden;
	}
}

.license-list{
	padding-left: 40px;
	list-style: lower-alpha;
}

.timeline-TweetList-tweet{
	list-style-type: none;
}

.article {
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		font-weight: 500;
		letter-spacing: initial;
	}
	h2, .h2 {
		font-size: 28px;
	}
	h3, .h3 {
		font-size: 22px;
	}
	hr {
		margin: 1rem 0;
	}
}

article.initial-video {
	margin-right: 30px;
	position: relative;
	video {
		width: 100%;
	}
	.customer-overlay {
		top: 0;
		width: 100%;
		height: 99%;
		display: flex;
		position: absolute;
		background-color: rgba(0, 0, 0, .5);
		p {
			//font-size: 40px;
			color: white;
		}
	}
}

.MediaCard-media > div > div.MediaCard-mediaContainer {
	iframe, video {
		max-height: 29vw;
		
		@media (max-width: 1500px) {
			max-height: 32vw !important;
		}	

		@media (max-width: 1350px) {
			max-height: 28vw !important;
		}		

		@media (max-width: 1200px) {
			max-height: 27vw !important;
		}

		@media (max-width: 992px) {
			max-height: 29vw !important;
		}

		@media (max-width: 768px) {
			max-height: 33vw !important;
		}

		@media (max-width: 575px) {
			max-height: 42vw !important;
		}
	}
	margin-bottom: 10px;
	overflow: hidden;
}

//font-family: Helvetica, Helvetica, Arial, sans-serif;
.TweetAuthor-name {
	font-size: 18px;
	line-height: 27px;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 4px;
}
.TweetAuthor-screenName {
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
	padding-right: 4px;
}
.timeline-Tweet-text[dir=ltr] {
	text-align: left;
	direction: ltr;
	font-size: 18px;
	line-height: 27px;
}
.timeline-Tweet-media {
	h2 {
		font-size: 30px !important;
		font-weight: 600 !important;
	}
	/* subtitle */
	h3 {
		font-size: 24px !important;
		font-weight: 600 !important;
		font-family: 'Helvetica';
		letter-spacing: 0;
		line-height: 30px;
	}

	p, a {
		font-size: 18px !important;
		font-style: normal;
		font-weight: 200 !important;
		font-family: Helvetica !important;
	}

	.blockquote {
		padding: 1rem 0 1rem 3rem !important;
		p {
			font-weight: 600 !important;

			&:before {
				content: '';
				width: 30px;
				height: 30px;
				background-image: url(img/blockquote.png) !important;
				position: absolute;
				left: 52px;
			}
		}
		img {
			width: 30px;
			height: 30px;
			position: absolute;
			left: 50px;
		}
	}
}
.timeline-TweetList li, .timeline-TweetList p {
	padding-right: 0px !important;
	font-size: 18px;
	line-height: 27px;
	font-family: 'Helvetica';
	font-weight: 200;
}
.timeline-TweetList-tweet {
	border-top: 40px solid #808080;

	h2 {
		font-weight: 600;
		letter-spacing: -1.2px;
		padding: 20px 0 16px;
	}
	h3 {
		padding: 20px 0 16px;
	}
}

#article-product, #article-customer {
	padding-right: 0 !important;
}
#article-product .article {
	.form-row, p {
		font-family: Helvetica, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
	}
}
.timeline-Body{
	margin-right: 30px;
}

.MediaCard img{width: 100%;}
.gift-card {	
	position: absolute;
	z-index: 3;
	margin-top: -11px;
	left: 20px;
	background: white;
	padding: 0 5px;

	
	@media (max-width: 768px) {
		margin-top: -7px;
	}

	@media (max-width: 575px) {
		font-size: 11px;
		margin-top: -5px;
	}
}
.package-select {
	
	/*font-size: 1.0rem;*/
	border-radius: 4px;
	border-color: #d5d5d5;
	box-shadow: none;
	position: relative;
	font-weight: 700;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: linear-gradient(to bottom, #f3f3f3 0%, #dcdcdc 100%);
	border-color: 1px solid #0080CA;
	margin: 0 10px;
	padding: 3px 0;
		
	&:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
		border-color: #808080 transparent transparent transparent;
		
		
    width: 6px !important;
    height: 6px !important;
    right: 6px !important;
    border: 2px solid !important;
    margin-top: 0px !important;
    border-top: 0 !important;
    border-left: 0 !important;
    transform: translateY(-50%) rotate(45deg) !important;
	}
	& > span {
    border-radius: 4px;
    border-color: #d5d5d5;
    box-shadow: none;
    padding-right: 10px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: linear-gradient(to bottom, #f3f3f3 0%, #dcdcdc 100%);
		border-color: 1px solid #0080CA;
	}

	ul {		
		position: absolute;
		border: 1px solid #333;
		width: 100%;
		max-height: 200px;
		overflow: auto;
		z-index: 10000;
		padding: 0;
		transition: width 0.1s;
		border-radius: 0 0 3px 3px;
    z-index: 10;
    border: 1px solid #d0d0d0;
    border-top: 0 none;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		margin-top: 3px;

		li {
			padding: 6px;
			cursor: pointer;
			font-size: 15px;
			list-style-type: none;

			&:hover {
				background-color: #EEE;
			}
			&:last-child {
				border-bottom: none;
			}
			span {
				pointer-events: none;
			}
		}
		
		&.hidden {
			display: none;
		}
	}
}
.selectize-dropdown .active {
	background-color: #00A1FF;
	color: white;
	font-weight: 600;
}
#navbarSupportedContent{
	display: none!important;
}

.twitter-timeline-wrap{
	border: 1px solid #ccc;
	border-radius: 5px;
}

.modal-dialog{
	p,li{
		padding-right: 30px;
	}
}

@import "media";
@import "payment";
@import "cart";