@import "fonts"
@import "variables"

*
	outline: none !important

input,
textarea
	-webkit-appearance: none

a
	color: $blue-1
	transition: 0.2s
	text-decoration: none !important
	&:hover
		color: $blue-2

img, video
	max-width: 100%
	height: auto

video 
	display: block

body
	font-family: "Roboto", sans-serif
	font-weight: 300
	color: #222222
	min-height: 100vh

b
	font-weight: 700

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
	font-weight: 300
	line-height: 1.1
h1, .h1, h2, .h2
	color: $blue-1
@media (min-width: $xl)
	h1, .h1
		font-size: 75px
		letter-spacing: -1.9px
	h2, .h2
		font-size: 65px
		letter-spacing: -1.9px
	h3, .h3
		font-size: 50px
		letter-spacing: -1.9px
	h4, .h4
		font-size: 30px
	h5, .h5
		font-size: 26px
@media (max-width: $sm - $point)
	h1, .h1
		font-size: 2rem
	h2, .h2
		font-size: 1.75rem
	.h3, h3
		font-size: 1.5rem
	.h4, h4
		font-size: 1.25rem
	.h5, h5
		font-size: 1.125rem

.article
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
		font-weight: 500
		letter-spacing: initial
	h2, .h2
		font-size: 28px
	h3, .h3
		font-size: 22px
	hr
		margin: 1rem 0

.fz-11
	font-size: 11px
	line-height: 1.3
.fz-0
	font-size: 0
@media (min-width: $sm)
	.fz-30
		font-size: 20px
		line-height: 1.3
@media (min-width: $xl)
	.fz-30
		font-size: 30px
		letter-spacing: -1px
		line-height: 1.35
	.fz-25
		font-size: 25px
		line-height: 1.3
	.fz-24
		font-size: 24px
		line-height: 1.3
	.fz-22
		font-size: 22px
		line-height: 1.3
	.fz-21
		font-size: 21px
		line-height: 1.3
	.fz-20
		font-size: 20px
		line-height: 1.3
	.fz-19
		font-size: 19px
		line-height: 1.3
	.fz-15
		font-size: 15px
		line-height: 1.3
@media (min-width: xxl)
	.fz-15
		font-size: 16px
		line-height: 1.3
@media (max-width: $md - $point)
	.fz-15
		font-size: 13px
		line-height: 1.3

.font-weight-medium
	font-weight: 500

.text-inherit
	color: inherit
.text-blue
	color: $blue-1

.container
	@media (min-width: $xxl)
		max-width: 1310px

.row-1
	margin-left: -10px
	margin-right: -10px
	[class^="col"]
		padding-left: 10px
		padding-right: 10px

.button
	display: inline-block
	font-size: 12px
	font-weight: bold
	background: linear-gradient(#42a1ec, $blue-3)
	border: 1px solid #07c
	border-radius: 4px
	color: #fff !important
	padding: 3px 28px 4px
	text-align: center
	cursor: pointer
	&:hover
		background: linear-gradient(#51a9ee, #147bcd)
		border-color: #1482d0
	&:active
		background: linear-gradient(#3d94d9, #0067b9)
		border-color: #006dbc
.button-gray
	color: inherit !important
	background: linear-gradient(#f7f8fa, #e7e9ec)
	border-color: #adb1b8 #a2a6ac #8d9096
	&:hover
		background: linear-gradient(#e7eaf0, #d9dce1)
		border-color: #a2a6ac #979aa1 #82858a
	&:active
		background: #dcdfe3
		border-color: #adb1b8 #a2a6ac #a2a6ac
.button-lg,
.button-md
	font-size: 1rem
	border-radius: 6px
	padding: 8px 20px 10px
	min-width: 196px
.button-lg
	@media (min-width: $xl)
		font-size: 20px
	@media (max-width: $sm - $point)
		width: 100%
		font-size: 14px
		padding: 11px 18px
.button-md
	min-width: 130px
.button-auto
	min-width: auto

.list-blue
	padding-left: 0
	list-style: none
	li
		padding-left: 20px
		position: relative
		&:before
			content: "•"
			position: absolute
			left: 0
			color: $blue-2

.card-border
	border: 1px solid
	padding: 1rem 1rem 0

.px
	@media (min-width: $lg)
		padding-left: 50px !important
		padding-right: 50px !important
	@media (min-width: $xl)
		padding-left: 88px !important
		padding-right: 88px !important

.owl-theme
	.owl-nav
		margin-top: 0
		[class*="owl-"]
			position: absolute
			padding: 0
			margin: 0
			width: 42px
			height: 42px
			transform: translateY(-50%)
			border-radius: 50%
			top: 50%
			transition: .2s
			opacity: 0.66
			background-color: rgba(213, 213, 213, 0.25) !important
			background-image: url(../img/arrow.png) !important
			background-size: cover !important
			&.owl-prev
				left: 0
			&.owl-next
				right: 0
				transform: translateY(-50%) rotate(180deg)
			&:not(.disabled):hover
				opacity: 1
		.disabled
			display: none
	.owl-dots
		position: relative
		.owl-dot
			background-color: transparent
			span
				width: 8px
				height: 8px
				margin: 5px
				background-color: transparent
				border: 1px solid #878787
				transition: 0.2s
			&.active span, &:hover span
				background-color: #878787
	@media (max-width: $sm - $point)
		.owl-nav
			[class*="owl-"]
				width: 30px
				height: 30px
		.owl-dots
			.owl-dot
				span
					margin: 2px

#allContent
	min-height: 100vh
	display: flex
	flex-direction: column

.navbar
	border-bottom: 1px solid #D6D6D6
	min-height: 60px
	padding: 10px 0
.navbar-brand
	padding: 4px 0
	margin-right: 25px
	img
		width: 154px
	@media (max-width: $xs - $point)
		margin-right: 8px
		img
			width: 100px
.promo
	line-height: 1.2
	text-transform: uppercase
	margin-right: auto
	@media (max-width: $lg - $point)
		display: none
.terminal-switch-wrap
	line-height: 1.2
	font-weight: 400
	@media (max-width: $md - $point)
		font-size: 12px
	@media (max-width: $xs - $point)
		img 
			width: 26px

.page-footer
	padding: 16px 0
	background-color: #ebebeb
	color: #474747

.section-1
	min-height: calc(100vh - 60px)
	flex-grow: 1
	.img
		max-width: 580px
		width: 100%
	@media (max-width: $lg - $point)
		.container
			margin: 0 auto
.owl-brands
	padding: 4px 0
	border-top: 1px solid #D6D6D6
	border-bottom: 1px solid #D6D6D6
	// box-shadow: 0 7px 34px rgba(0, 0, 0, 0.1) inset
	.owl-item img
		width: auto

.section-2
	overflow: hidden
	> .container
		padding-top: 15rem
		padding-bottom: 15rem
	@media (max-width: $lg - $point)
		padding-top: 6rem
	.video-wrap
		padding: 121px 0
		background-color: #000
		@media (max-width: $xxl - $point)
			padding: 80px 0
		@media (max-width: $sm - $point)
			padding: 15px 0
	.baby
		width: 100%
		max-width: 525px
		margin-right: -25px
		@media (min-width: $lg)
			margin-top: -75px
		@media (max-width: $md - $point)
			margin-top: -50px
.video-overlay
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: #000
	background-size: cover
	cursor: pointer
	transition: 0.2s
	&#videoOverlay
		background: url("../img/video.png")
	// &#videoPlayerOverlay
	// 	background-image: url(https://i.vimeocdn.com/video/742445080.webp?mw=3100&mh=1798&q=70)
	&.hidden
		visibility: hidden
		opacity: 0
	&:after
		content: ""
		position: absolute
		top: 50%
		left: 50%
		width: 63.09px
		height: 44.64px
		transform: translate(-50%, -50%)
		background-image: url(../img/play.svg)
		background-size: cover
		transition: 0.2s
		@media (max-width: $lg - $point)
			width: 42.06px
			height: 29.76px
	&:hover 
		&:after
			opacity: .9

.section-3
	padding-top: 15rem
	padding-bottom: 12.5rem
	background: #CCD0D3
	img
		height: auto
		margin: 0 0 18px
	@media (min-width: $lg)
		background: radial-gradient(circle closest-corner at 50% 100%, transparent 50%, #CCD0D3)
	@media (max-width: $lg - $point)
		img
			max-width: 150px
	@media (max-width: $md - $point)
		padding: 3rem 0 2rem

.section-4
	padding-top: 15rem
	padding-bottom: 15rem
	p
		visibility: hidden
		opacity: 0
		transition: opacity .6s ease
		height: 0
		margin-bottom: 0
		&.current
			visibility: visible
			opacity: 1
			height: auto
			margin-bottom: 1rem
	@media (max-width: $md - $point)
		padding: 3rem 0
.owl-header
	margin-bottom: 0 !important
	.owl-dots
		margin-bottom: 4px
	.owl-dots .owl-dot
		margin-right: 10px
		margin-left: 10px
		padding: 0
		flex: 0 0 25%
		max-width: calc(25% - 20px)
		margin-bottom: 12px
		background: 0
		border: 0
		cursor: pointer
		&:before
			display: block
			padding: 5px 1px 4px
			border: 1px solid #222222
			transition: 0.2s
			height: 100%
		&:hover
			&:before
				color: #fff
				border-color: #222222
				background-color: #222222
				font-weight: 600
		&.active
			&:before
				color: #fff
				border-color: $blue-1
				background-color: $blue-1
				font-weight: 600
		&:nth-child(1):before
			content: "Dedicated Terminal"
		&:nth-child(2):before
			content: "Global Order Book"
		&:nth-child(3):before
			content: "Smart Order Router"
		&:nth-child(4):before
			content: "Global Liquidity"
		&:nth-child(5):before
			content: "Global Wallet"
		&:nth-child(6):before
			content: "Hardware Key"
		&:nth-child(7):before
			content: "ComplianceGuard"
		&:nth-child(8):before
			content: "Curated App Store"
	@media (max-width: $md - $point)
		.owl-dots
			margin-left: -5px
			margin-right: -5px
			.owl-dot
				margin: 0px 5px 10px
				font-size: 12px
				max-width: calc(25% - 10px)
	@media (max-width: $sm - $point)
		.owl-dots
			.owl-dot
				flex: 0 0 50%
				max-width: calc(50% - 10px)
.owl-body
	max-width: 800px
	margin: 0 auto
	position: relative
	.owl-4
		position: absolute
		left: 0
		right: 0
		top: 2.8%
		padding: 0 11.5%
	@media (min-width: $xl)
		max-width: 100%
		> img
			max-width: 800px
		.owl-4
			padding: 0 22.3%
	@media (min-width: $xxl)
		.owl-4
			padding: 0 26%
	@media (max-width: $lg - $point)
		.owl-4
			.owl-nav
				[class*="owl-"]
					&.owl-prev
						left: -10px
					&.owl-next
						right: -10px

.section-5
	padding-top: 15rem
	padding-bottom: 12rem
	color: rgba(255, 255, 255, 0.25)
	background-color: #000
	.owl-5-wrap
		p
			transition: .2s
		&:hover
			p
				color: #fff
	@media (max-width: $md - $point)
		padding: 4rem 0 3rem
.owl-5 .owl-dots
	margin-top: 10px
	transition: .3s ease
	@media (min-width: $lg)
		opacity: 0
	@media (max-width: $lg - $point)
		opacity: 1 !important
.video-modal
	cursor: pointer
	.img-video
		transition: .2s
		padding: 1.7rem 2.5rem
		border: 1px solid
		position: relative
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 50%
			width: 42.06px
			height: 29.76px
			transform: translate(-50%, -50%)
			background-image: url(../img/play.svg)
			background-size: cover
			transition: .2s
	.title
		position: absolute
		bottom: 5px
		left: 10px
		right: 10px
		line-height: 1.28
		transition: .2s
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
	&:hover
		color: $blue-1
		.img-video
			&:after
				background-image: url(../img/play-2.svg)
#youtubeModal
	.modal-content
		background: #000
		border: 0
		border-radius: 0
		padding: 20px !important

.section-6
	padding-top: 15rem
	padding-bottom: 7.5rem
	@media (max-width: $md - $point)
		padding-top: 4rem
		padding-bottom: 4rem
#ulAccordion
	list-style: none
	padding-left: 0
	margin-bottom: 45px
	> li
		border-bottom: 1px solid #D6D6D6
		padding-top: 20px
		padding-bottom: 20px
		&:first-child
			border-top: 1px solid #D6D6D6
		> a
			position: relative
			display: block
			color: $blue-1
			padding: 6px 25px 6px 0
			font-weight: 600
			margin-bottom: 10px
			&:after
				content: ''
				width: 12px
				height: 12px
				position: absolute
				top: 50%
				right: 5px
				transform: translateY(-50%) rotate(45deg)
				background: url(../img/plus.svg)
				background-size: cover
				transition: .3s ease
			&.collapsed
				color: inherit
				margin-bottom: 0
				&:after
					transform: translateY(-50%) rotate(0deg)
			&:hover
				color: $blue-1

.section-7
	padding-top: 15rem
	padding-bottom: 13rem
	background-image: url(../img/updated_bg.png)
	background-size: cover
	background-position: center center
	background-attachment: fixed
	@media (max-width: $xxl - $point)
		padding-top: 130px
	@media (max-width: $lg - $point)
		background-size: inherit
	@media (max-width: $md - $point)
		padding-top: 4rem
		padding-bottom: 3rem

.section-8
	padding: 100px 0
	@media (max-width: $md - $point)
		padding-top: 4rem
		padding-bottom: 3rem

.owl-2
	.slide
		background-size: cover
		background-position: center
		&.slide-1
			background-image: url(../img/bg-1.jpg)
			.container
				@media (min-width: $xxl)
					max-width: 910px
		&.slide-2
			background-image: url(../img/bg-2.jpg)
			.container
				@media (min-width: $xxl)
					max-width: 980px
		&.slide-3
			background-image: url(../img/bg-3.jpg)
			.container
				@media (min-width: $xxl)
					max-width: 1150px
		&.slide-4
			background-image: url(../img/bg-4.jpg)
			.container
				@media (min-width: $xxl)
					max-width: 980px
		&.slide-5
			background-image: url(../img/bg-5.jpg)
			.container
				@media (min-width: $xxl)
					max-width: 980px
		&.slide-6
			background-image: url(../img/bg-6.jpg)
			.container
				@media (min-width: $xxl)
					max-width: 980px
		.container
			position: relative
			z-index: 2
			min-height: 300px
			display: flex
			flex-direction: column
			justify-content: center
		&:after
			content: ''
			position: absolute
			width: 100%
			height: 100%
			left: 0
			top: 0
			background: rgba(0, 0, 0, 0.7)
			z-index: 1
	.owl-dots
		position: absolute
		bottom: 10px
		left: 0
		right: 0
	.owl-nav
		[class*="owl-"]
			&.owl-prev
				left: 10px
				@media (min-width: $xxl)
					left: 50%
					margin-left: -640px
			&.owl-next
				right: 10px
				@media (min-width: $xxl)
					right: 50%
					margin-right: -640px
	.owl-item
		height: 800px
		.slide
			height: 100%
		@media (max-width: $md - $point)
			height: 400px
		@media (max-width: $xs - $point)
			height: 470px
	@media (max-width: $sm - $point)
		.slide
			padding-top: 50px
			padding-bottom: 50px
			.container
				min-height: auto

.section-10
	padding-top: 100px
	padding-bottom: 140px
	@media (max-width: $md - $point)
		padding-top: 4rem
		padding-bottom: 4rem
.owl-3
	a 
		color: #878787
		img
			border: 1px solid #222222
			padding: 10px
		p
			padding: 0 10px
		&:hover
			color: $blue-2
	.owl-nav
		[class*="owl-"]
			top: calc(50% - 35px)
.fancybox-inner 
	.fancybox-navigation
		.fancybox-button
			padding: 0
			width: 42px
			height: 42px
			margin-top: -21px
			border-radius: 50%
			top: 50%
			transition: 0.2s
			background-color: rgba(213, 213, 213, 0.25) !important
			background-image: url(../img/arrow.png) !important
			background-size: cover !important
			opacity: 0.66
			&:hover
				opacity: 1
			&[disabled]
				opacity: 0
			@media (max-width: $lg - $point)
				display: none
		.fancybox-button--arrow_left
			left: 15px
		.fancybox-button--arrow_right
			right: 15px
			transform: rotate(180deg)

.section-11
	padding: 64px 0
	background-color: #000
	color: #fff
	.video-wrapper
		position: relative
		.video-player
			position: absolute
			left: 0
			right: 0
			top: 5%
			padding: 0 13%
			@media (max-width: $xxl - $point)
				top: 5.7%
			@media (max-width: $xl - $point)
				top: 7.5%
			@media (max-width: $lg - $point)
				top: 4.4%
				padding: 0 4%

.section-12
	padding-top: 15rem
	padding-bottom: 7.5rem
	@media (min-width: $xl)
		form 
			padding-left: 170px
			h4
				margin-right: -70px
	@media (max-width: $md - $point)
		padding: 50px 0px 60px
.reel-panning, .reel-panning *, .reel
	cursor: ew-resize !important
.reel
	width: 100% !important
	height: auto !important
	overflow: visible !important
	.reel-indicator
		width: 18px !important
		height: 18px !important
		bottom: -1px !important
		margin: -9px 0 -9px 1%
		border: 2px solid #D6D6D6
		border-radius: 50%
		background-color: #fff !important
		z-index: 9
.reel-indicator-bar
	border-top: 2px solid #D6D6D6
	position: relative
	width: 98%
	margin: 0 1%
	&:before, &:after 
		content: ''
		position: absolute
		top: -3px
		border: 2px solid #D6D6D6
		border-radius: 50%
	&:before 
		left: 0
	&:after 
		right: 0
.reel-preloader
	display: none !important

.section-13 
	position: relative
	background-image: url(https://discountknowledge.com/storage/app/media/uploaded-files/Perfect-Desktop.jpg)
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	&:before 
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: rgba(0, 0, 0, .4)
	.container
		position: relative
		min-height: 90vh
		display: flex
		flex-direction: column
		padding-top: 6rem
		padding-bottom: 6rem

.section-14
	padding-top: 15rem
	padding-bottom: 7.5rem
	.video-wrapper
		position: relative
		.video-player
			position: absolute
			left: 0
			right: 0
			top: 3%
			padding: 0 2%

.section-15
	padding-top: 15rem
	padding-bottom: 15rem

.section-16
	padding-top: 15rem
	padding-bottom: 7.5rem
.owl-6
	@media (max-width: $sm - $point)
		padding-left: 0 !important
		padding-right: 0 !important
	@media (min-width: $xl)
		.owl-nav [class*="owl-"]
			width: 84px
			height: 84px
	.owl-dots
		margin-top: 10px

.section-17
	padding-top: 15rem
	padding-bottom: 15rem

.section-18
	padding-top: 13rem
	padding-bottom: 15rem

.modal-dialog
	.modal-content
		max-height: 100%
		padding: 40px 0 40px 30px
	.content-wrapper
		padding-right: 30px
		overflow-y: auto
		> p:last-of-type
			margin-bottom: 0
	@media (max-width: $sm - $point)
		.modal-content
			padding-left: 15px
		.content-wrapper
			padding-right: 15px
	.close
		color: #aaaaaa
		position: absolute
		right: 14px
		top: 14px
		font-size: 30px
		font-weight: 300
		line-height: 10px
		opacity: 1
		transition: .2s
		&:hover
			color: $blue-2 !important
@media (min-width: $xl)
	.modal-xl
		max-width: 942px
.modal-dialog-centered
	height: calc(100% - (.5rem * 2))
	@media (min-width: 576px)
		height: calc(100% - (1.75rem * 2))

#article-product .article
	.form-row, p
		font-size: 18px

.license-list
	padding-left: 40px
	list-style: lower-alpha

.initial-video
	position: relative
	.customer-overlay
		display: flex
		justify-content: center
		align-items: center
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: rgba(0, 0, 0, 0.5)
		color: #fff

.timeline-TweetList
	font-size: 18px
	line-height: 27px
	font-weight: 300
.timeline-TweetList-tweet
	border-top: 40px solid #808080
	h2
		font-weight: 600
		letter-spacing: -1.2px
		padding: 20px 0 16px
	h3
		padding: 20px 0 16px
	> div
		padding: 10px
.TweetAuthor-name
	font-size: 18px
	line-height: 27px
.TweetAuthor-screenName
	font-size: 18px
	line-height: 27px
	@media (max-width: $xl - $point)
		font-size: 1rem
	@media (max-width: $md - $point)
		font-size: 14px	
.timeline-Tweet-text[dir=ltr]
	text-align: left
	direction: ltr
	font-size: 18px
	line-height: 27px
.MediaCard-media > div > div.MediaCard-mediaContainer
	margin-bottom: 10px
	overflow: hidden
	iframe, video
		max-height: 29vw
		@media (max-width: 1499px)
			max-height: 32vw !important
		@media (max-width: $xxl - $point)
			max-height: 28vw !important
		@media (max-width: $xl - $point)
			max-height: 27vw !important
		@media (max-width: $lg - $point)
			max-height: 29vw !important
		@media (max-width: $md - $point)
			max-height: 33vw !important
		@media (max-width: $sm - $point)
			max-height: 42vw !important
.timeline-Tweet-media
	margin-right: 20px
	margin-left: 40px
	h2
		font-size: 30px !important
		font-weight: 600 !important
	h3
		font-size: 24px !important
		font-weight: 600 !important
		letter-spacing: 0
		line-height: 30px
	p, a
		font-size: 18px !important
		font-style: normal
		font-weight: 200 !important
	.blockquote
		padding: 1rem 0 1rem 3rem !important
		p
			font-weight: 600 !important
			&:before
				content: ''
				width: 30px
				height: 30px
				background-image: url(img/blockquote.png) !important
				position: absolute
				left: 52px
		img
			width: 30px
			height: 30px
			position: absolute
			left: 50px
	@media (max-width: $sm - $point)
		margin-left: 20px !important
		iframe
			height: 200px !important
.NaturalImage-image
	width: 100%

@import "payment"
